 <!-- Page Title -->
<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <!--<h2>Practice Details</h2>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Practice Details</li>
                </ul>-->
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Practice Details -->
<div class="practice-details-area pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="practice-details-item">
                    <div class="practice-details-content">
                        <div class="section-title text-left">
                            <h2>Derecho Corporativo</h2>
                        </div>
                        <p>Asistimos a empresas en su creación, funcionamiento y expansión. Cubrimos desde la constitución legal hasta contratos, fusiones y cumplimiento normativo.</p>
                        <ul>
                            <li><span>Constitución de Empresas –</span> Asesoría para PYMES y grandes firmas.</li>
                            <li><span>Gobierno Corporativo –</span> Cumplimiento legal y buenas prácticas.</li>
                            <li><span>Contratos Comerciales –</span> Negociación y redacción.</li>
                            <li><span>Fusiones y Adquisiciones –</span> Due diligence y ejecución legal.</li>
                        </ul>
                    </div>
                </div>
                <div class="practice-details-case">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-6">
                            <div class="portfolio-item  wow fadeInUp" data-wow-delay=".3s">
                                <img src="~/lyso/img/home-one/portfolio/penal1.jpg" alt="Portfolio">
                                <!--<div class="portfolio-inner">
                                    <span>Crime</span>
                                    <h3>
                                        <a asp-controller="Home" asp-action="CaseStudyDetails">Critical Murder Case</a>
                                    </h3>
                                    <p>15 Feb 2024</p>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="portfolio-item wow fadeInUp" data-wow-delay=".4s">
                                <img src="~/lyso/img/home-one/portfolio/penal2.jpg" alt="Portfolio">
                                <!--<div class="portfolio-inner">
                                    <span>Rights</span>
                                    <h3>
                                        <a asp-controller="Home" asp-action="CaseStudyDetails">Property Problem</a>
                                    </h3>
                                    <p>16 Feb 2024</p>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="portfolio-item wow fadeInUp" data-wow-delay=".3s">
                                <img src="~/lyso/img/home-one/portfolio/penal3.jpeg" alt="Portfolio">
                                <!--<div class="portfolio-inner">
                                    <span>Finance</span>
                                    <h3>
                                        <a asp-controller="Home" asp-action="CaseStudyDetails">Money Loundering</a>
                                    </h3>
                                    <p>17 Feb 2024</p>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="portfolio-item wow fadeInUp" data-wow-delay=".4s">
                                <img src="~/lyso/img/home-one/portfolio/penal3.jpeg" alt="Portfolio">
                                <!--<div class="portfolio-inner">
                                    <span>Crime</span>
                                    <h3>
                                        <a asp-controller="Home" asp-action="CaseStudyDetails">Cyber Crime Case</a>
                                    </h3>
                                    <p>18 Feb 2024</p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="practice-details-item">
                    <div class="blog-details-category">
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Civil">
                                    Derecho Civil
                                    <i class="icofont-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="CaseStudyDetails">
                                    Derecho Penal
                                    <i class="icofont-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Laboral">
                                    Derecho Laboral
                                    <i class="icofont-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Corporativo">
                                    Derecho Corporativo
                                    <i class="icofont-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Administrativo">
                                    Derecho Administrativo
                                    <i class="icofont-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Notarial">
                                    Derecho Notarial
                                    <i class="icofont-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="practice-details-contact">
                        <h3>Información de contacto</h3>
                        <ul>
                            <li>
                                <i class="flaticon-call"></i>
                                <a href="tel:+50688744858">Número Telefónico: +506 8874 4858</a>
                            </li>
                            <li>
                                <i class="flaticon-email"></i>
                                <a href="mailto:praecepta2022@gmail.com">praecepta2022@gmail.com</a>
                            </li>
                            <li>
                                <i class="flaticon-pin"></i>
                                Escazú, San Rafael, Edificio Terraforte cuarto piso.
                            </li>
                        </ul>
                    </div>
                    <!--<div class="practice-details-brochures">
                        <h3>Brochures</h3>
                        <p>Risus is commodo viverra maecenas accumsan lacus vel facilisis. . Quis is a ipsum suspendisse ultrices gravida</p>
                        <a class="cmn-btn" href="#"><i class="flaticon-download"></i>Download</a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="help-shape">
        <img src="~/lyso/img/home-one/6.png" alt="Shape">
    </div>
</div>
<!-- End Practice Details -->
