.vs/Preacepta/CopilotIndices/17.14.698.11175/CodeChunks.db
.vs/Preacepta/CopilotIndices/17.14.698.11175/SemanticSymbols.db
.vs/Preacepta/FileContentIndex/311fc65c-577c-4d01-9178-fe633d5a9afa.vsidx
.vs/Preacepta/FileContentIndex/5e93c6c8-145b-4b67-89c9-e65885403184.vsidx
.vs/Preacepta/FileContentIndex/aa4b0a52-b74d-451a-aeb3-7ff3bacc6bc2.vsidx
.vs/Preacepta/FileContentIndex/cccbf649-665c-40f5-8a74-0095df5bc533.vsidx
.vs/Preacepta/FileContentIndex/de03356f-3138-4f17-9dad-d88d4b71456f.vsidx
.vs/Preacepta/v17/HierarchyCache.v1.txt
Preacepta.UI/obj/Debug/net8.0/12ea03ec-9a94-4e34-bb8e-4c2b94bde7ee_Preacepta.UI.pdb
Preacepta.UI/obj/Debug/net8.0/rpswa.dswa.cache.json
Preacepta.UI/obj/Debug/net8.0/staticwebassets.removed.txt
