@model Preacepta.Modelos.AbstraccionesFrond.DocsOpcionCompraventaVehiculoDTO
@using System.Globalization
@{
    CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("en-US");
    CultureInfo.DefaultThreadCurrentUICulture = new CultureInfo("en-US");
}


<head>
    <!--<link href="~/lyso/css/Andy.css" rel="stylesheet" />-->
    <link href="~/lyso/css/Daniel.css" rel="stylesheet" />
</head>

<body>
    <!-- Page Title -->
    <div class="page-title-area page-title-area-two title-img-one">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="page-title-text">
                    <h2>Generador de Documentos Legales</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li>
                            <i class="icofont-simple-right"></i>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="UsuarioAutenticado" asp-route-correo=@User.Identity.Name>PreaceptaApp</a>
                        </li>
                        <li>
                            <i class="icofont-simple-right"></i>
                        </li>
                        <li>Generador de documentos para compra y venta de vehiculos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->

    <br />
    <br />
    <br />


<div class="contact-form contact-form-two contact-form-three">
    <div class="container">
            <div class="col-md-12 col-lg-12 encabezadoForm">
                <img src="~/lyso/img/docs3.png" width="200px" />
            </div>
        <div class="contact-wrap">
                <form asp-action="CreateDocsOpcionCompraventaVehiculoes" id="CreateDocsOpcionCompraventaVehiculoes">
                    @if (ViewBag.DocumentoAnteriorId != null)
                    {
                        <script>
                            console.log("DocumentoAnteriorId: @ViewBag.DocumentoAnteriorId");
                        </script>
                    }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h2>Formulario para compraventa de vehículo</h2>

                    <div class="row justify-content-center">
                        <div class="seccion-titulo">Información Legal</div>

                        <!-- Número Escritura -->
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group">
                                <label asp-for="NumeroEscritura" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input asp-for="NumeroEscritura" class="form-control" id="idNumeroEscritura" />
                                <span asp-validation-for="NumeroEscritura" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Cédula Abogado -->
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group">
                                <label asp-for="CedulaAbogado" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <select id="idCedulaAbogado" asp-for="CedulaAbogado" class="form-control" asp-items="ViewBag.CedulaAbogado"></select>
                                <span asp-validation-for="CedulaAbogado" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="seccion-titulo">Propietario y Comprador</div>

                        <!-- Cédula Propietario -->
                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="CedulaPropietario" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <select id="idCedulaPropietario" asp-for="CedulaPropietario" class="form-control" asp-items="ViewBag.CedulaPropietario"></select>
                                </div>
                            </div>

                        <br />
                        <br />
                        <br />
                        <br />

                        <!-- Cédula Comprador -->
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group">
                                <label asp-for="CedulaComprador" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <select id="idCedulaComprador" asp-for="CedulaComprador" class="form-control" asp-items="ViewBag.CedulaComprador"></select>
                            </div>
                        </div>

                        <div class="seccion-titulo">Detalles del Vehículo</div>

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="PlacaVehiculo" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idPlacaVehiculo" asp-for="PlacaVehiculo" class="form-control" /><span asp-validation-for="PlacaVehiculo" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="MarcaVehiculo" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <select id="idMarcaVehiculo" asp-for="MarcaVehiculo" class="form-control" asp-items="ViewBag.MarcaVehiculo"></select>
                                </div>
                            </div>

                            <br />
                            <br />
                            <br />
                            <br />
                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="TipoVehiculo" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <select id="idTipoVehiculo" asp-for="TipoVehiculo" class="form-control" asp-items="ViewBag.TipoVehiculo"></select>
                                </div>
                            </div>

                            <br />
                            <br />
                            <br />
                            <br />
                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="ModeloVehiculo" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idModeloVehiculo" asp-for="ModeloVehiculo" class="form-control" /><span asp-validation-for="ModeloVehiculo" class="text-danger"></span>
                                </div>
                            </div>
                       

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="Carroceria" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idCarroceria" asp-for="Carroceria" class="form-control" /><span asp-validation-for="Carroceria" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="Categoria" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idCategoria" asp-for="Categoria" class="form-control" /><span asp-validation-for="Categoria" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="Chasis" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idChasis" asp-for="Chasis" class="form-control" /><span asp-validation-for="Chasis" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="Serie" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idSerie" asp-for="Serie" class="form-control" /><span asp-validation-for="Serie" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="Vin" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idVin" asp-for="Vin" class="form-control" /><span asp-validation-for="Vin" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="MarcaMotor" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <select id="idMarcaMotor" asp-for="MarcaMotor" class="form-control" asp-items="ViewBag.MarcaMotor"></select>
                                </div>
                            </div>

                            <br />
                            <br />
                            <br />
                            <br />
                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="NumeroMotor" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idNumeroMotor" asp-for="NumeroMotor" class="form-control" /><span asp-validation-for="NumeroMotor" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="Color" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idColor" asp-for="Color" class="form-control" /><span asp-validation-for="Color" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="Combustible" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <select id="idCombustible" asp-for="Combustible" class="form-control" asp-items="ViewBag.Combustible"></select>
                                </div>
                            </div>

                            <br />
                            <br />
                            <br />
                            <br />
                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="Anio" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idAnio" asp-for="Anio" class="form-control" /><span asp-validation-for="Anio" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="Capacidad" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idCapacidad" asp-for="Capacidad" class="form-control" /><span asp-validation-for="Capacidad" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="Cilindraje" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idCilindraje" asp-for="Cilindraje" class="form-control" /><span asp-validation-for="Cilindraje" class="text-danger"></span>
                                </div>
                            </div>
                        

                        <div class="seccion-titulo">Condiciones del Contrato</div>

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="Precio" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idPrecio" asp-for="Precio" class="form-control" step="0.01" inputmode="decimal" /><span asp-validation-for="Precio" class="text-danger"></span>
                                </div>
                            </div>
                       

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="MonedaPrecio" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idMonedaPrecio" asp-for="MonedaPrecio" class="form-control" /><span asp-validation-for="MonedaPrecio" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="PlazoOpcionAnios" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idPlazoOpcionAnios" asp-for="PlazoOpcionAnios" class="form-control" /><span asp-validation-for="PlazoOpcionAnios" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="FechaInicio" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idFechaInicio" asp-for="FechaInicio" type="date" class="form-control" /><span asp-validation-for="FechaInicio" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="MontoSenal" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idMontoSenal" asp-for="MontoSenal" class="form-control" step="0.01" inputmode="decimal" /><span asp-validation-for="MontoSenal" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="MonedaSenal" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idMonedaSenal" asp-for="MonedaSenal" class="form-control" /><span asp-validation-for="MonedaSenal" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="MontoADevolver" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idMontoADevolver" asp-for="MontoADevolver" class="form-control" step="0.01" inputmode="decimal" /><span asp-validation-for="MontoADevolver" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="MontoAPerder" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idMontoAPerder" asp-for="MontoAPerder" class="form-control" step="0.01" inputmode="decimal" /><span asp-validation-for="MontoAPerder" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="MonedaMontoPerdido" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idMonedaMontoPerdido" asp-for="MonedaMontoPerdido" class="form-control" /><span asp-validation-for="MonedaMontoPerdido" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="GastosTraspasoPagadosPor" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idGastosTraspasoPagadosPor" asp-for="GastosTraspasoPagadosPor" class="form-control" /><span asp-validation-for="GastosTraspasoPagadosPor" class="text-danger"></span>
                                </div>
                            </div>
                        

                        <div class="seccion-titulo">Firma del Documento</div>

                        <!-- Lugar de la Firma -->
                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="LugarFirma" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <select id="idLugarFirma" asp-for="LugarFirma" class="form-control" asp-items="ViewBag.LugarFirma"></select>
                                </div>
                            </div>

                        <br />
                        <br />
                        <br />
                        <br />

                         <!-- Fecha de la Firma -->
                        <!--
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="FechaFirma" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idFechaFirma" asp-for="FechaFirma" type="date" class="form-control" />
                                    <span asp-validation-for="FechaFirma" class="text-danger"></span>
                                </div>
                            </div>
                        

                        
                            <div class="col-sm-6 col-lg-6 centro">
                                <div class="form-group">
                                    <label asp-for="HoraFirma" class="control-label centro"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input id="idHoraFirma" asp-for="HoraFirma" type="time" class="form-control" />
                                    <small id="horaAmPm" class="ms-2 fw-bold"></small>
                                    <span asp-validation-for="HoraFirma" class="text-danger"></span>
                                </div>
                            </div> -->
                        



                        <!-- ... seguiré así con cada campo ... -->
                        <br />
                        <br />
                        <br />


                            <div class="col-md-12 col-lg-12">
                                <div class="text-center d-flex justify-content-center gap-3">
                                    <div class="form-group" id="btnCrearCaso">
                                        <input type="submit" value="Crear Documento" class="contact-btn" />
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="btnPrevisualizar" class="contact-btn">
                                            Previsualizar PDF
                                        </button>
                                    </div>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>


<!-- Modal
<div class="modal fade" id="PrevioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="formulario contact-form contact-form-two">
<div class="container">
<div class="contact-wrap">
<h2>Revisión de datos ingresados</h2>
<p style="color: black"><strong>Tipo Caso:</strong> <span id="previoTipoCaso"></span></p>
<p style="color: black"><strong>Nombre del caso:</strong> <span id="previotitulo"></span></p>
<p style="color: black"><strong>Pruebas Iniciales:</strong> <span id="previoPruebas"></span></p>
<p style="color: black"><strong>Cliente:</strong> <span id="previoCliente"></span></p>
<p style="color: black"><strong>Detalles del Caso:</strong> <span id="previoDescripcion"></span></p>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="Retroceso">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div> -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="PrevioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Revisión de datos ingresados</h5>
                <button id="Retroceso2" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="color: black"><strong>Monto Numérico:</strong> <span id="previoMontoNumerico"></span></p>
                <p style="color: black"><strong>Cédula Deudor:</strong> <span id="previoCedulaDeudor"></span></p>
                <p style="color: black"><strong>Cédula Jurídica Sociedad:</strong> <span id="previoCedulaJuridicaSociedad"></span></p>
                <p style="color: black"><strong>Nombre Acreedor:</strong> <span id="previoAcreedorNombre"></span></p>
                <p style="color: black"><strong>Cédula Jurídica Acreedor:</strong> <span id="previoCedulaJuridicaAcreedor"></span></p>
                <p style="color: black"><strong>Domicilio Acreedor:</strong> <span id="previoAcreedorDomicilio"></span></p>
                <p style="color: black"><strong>Fecha de Vencimiento:</strong> <span id="previoFechaVencimiento"></span></p>
                <p style="color: black"><strong>Fórmula de Interés:</strong> <span id="previoInteresFormula"></span></p>
                <p style="color: black"><strong>Tasa de Interés Actual:</strong> <span id="previoInteresTasaActual"></span></p>
                <p style="color: black"><strong>Base de Interés:</strong> <span id="previoInteresBase"></span></p>
                <p style="color: black"><strong>Lugar de Pago:</strong> <span id="previoLugarPago"></span></p>
                <p style="color: black"><strong>Cédula Fiador:</strong> <span id="previoCedulaFiador"></span></p>
                <p style="color: black"><strong>Ubicación de Firma:</strong> <span id="previoUbicacionFirma"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="contact-btn" data-bs-dismiss="modal" id="Retroceso">Hacer Cambios</button>
                <button type="button" id="BtnConfirmar" class="contact-btn">Confirmar datos</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/lyso/js/DocsCompraVentaVehiculos.js"></script>









