@model Preacepta.Modelos.AbstraccionesFrond.PersonaUnionAbogado

<head>
    <link href="~/lyso/css/Daniel.css" rel="stylesheet" />
</head>
<!-- Page Title -->
<body>
    <div class="page-title-area page-title-area-two title-img-one">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="page-title-text">
                    <h2>Registrar Nuevo Cliente</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <i class="icofont-simple-right"></i>
                        </li>
                        <li>Crear Cliente</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->

    <br />
    <br />
    <br />


    <div class="contact-form contact-form-two contact-form-three">
        <div class="container">
            <div class="contact-wrap">
                <form asp-action="CrearPersona">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h2>Formulario para crear cliente</h2>
                    <div class="row justify-content-center">

                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="personaDTO.Cedula" class="control-label"></label>
                                <input asp-for="personaDTO.Cedula" class="form-control" />
                                <span asp-validation-for="personaDTO.Cedula" class="text-danger"></span>

                                                               
                                @if (TempData["ErrorCedula"] != null)
                                {
                                    <span class="text-danger">@TempData["ErrorCedula"]</span>
                                }
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="personaDTO.Nombre" class="control-label"></label>
                                <input asp-for="personaDTO.Nombre" class="form-control" />
                                <span asp-validation-for="personaDTO.Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="personaDTO.Apellido1" class="control-label"></label>
                                <input asp-for="personaDTO.Apellido1" class="form-control" />
                                <span asp-validation-for="personaDTO.Apellido1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="personaDTO.Apellido2" class="control-label"></label>
                                <input asp-for="personaDTO.Apellido2" class="form-control" />
                                <span asp-validation-for="personaDTO.Apellido2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="personaDTO.FechaNacimiento" class="control-label"></label>
                                <input type="date" asp-for="personaDTO.FechaNacimiento" class="form-control" />
                                <span asp-validation-for="personaDTO.FechaNacimiento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="personaDTO.Edad" class="control-label"></label>
                                <input asp-for="personaDTO.Edad" class="form-control" />
                                <span asp-validation-for="personaDTO.Edad" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="personaDTO.EstadoCivil" class="control-label"></label>
                                <select asp-for="personaDTO.EstadoCivil" asp-items="ViewBag.EstadoCivil" class="form-control"></select>
                                <span asp-validation-for="personaDTO.EstadoCivil" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="personaDTO.Oficio" class="control-label"></label>
                                <input asp-for="personaDTO.Oficio" class="form-control" />
                                <span asp-validation-for="personaDTO.Oficio" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="personaDTO.Direccion1" class="control-label"></label>
                                <select asp-for="personaDTO.Direccion1" class="form-control" asp-items="ViewBag.Direccion1" style="overflow:auto"></select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="personaDTO.Direccion2" class="control-label"></label>
                                <input asp-for="personaDTO.Direccion2" class="form-control" />
                                <span asp-validation-for="personaDTO.Direccion2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="personaDTO.Telefono1" class="control-label"></label>
                                <input asp-for="personaDTO.Telefono1" class="form-control" />
                                <span asp-validation-for="personaDTO.Telefono1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="personaDTO.Telefono2" class="control-label"></label>
                                <input asp-for="personaDTO.Telefono2" class="form-control" />
                                <span asp-validation-for="personaDTO.Telefono2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <!--<div class="form-floating mb-3">-->
                            <div class="form-group">
                                <label asp-for="personaDTO.Email">Correro electrónico</label>
                                <input asp-for="personaDTO.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <span asp-validation-for="personaDTO.Email" class="text-danger"></span>
                                @if (TempData["ErrorEmail"] != null)
                                {
                                    <span class="text-danger">@TempData["ErrorEmail"]</span>
                                }
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <!--<div class="form-floating mb-3">-->
                            <div class="form-group">
                                <label asp-for="personaDTO.Password">Contraseña</label>
                                <input asp-for="personaDTO.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <span asp-validation-for="personaDTO.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <!--<div class="form-floating mb-3">-->
                            <div class="form-group">
                                <label asp-for="personaDTO.ConfirmPassword">Confirmacion de contraseña</label>
                                <input asp-for="personaDTO.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <span asp-validation-for="personaDTO.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <!--<div class="col-sm-6 col-lg-6"></div>
                        <div class="col-sm-6 col-lg-6"></div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <textarea name="Descripcion" id="Descripcion" cols="30" rows="8" asp-for="Descripcion" placeholder="Descripción" class="form-control"></textarea>
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                        </div>-->

                        <div class="col-md-12 col-lg-12">

                            <div class="text-center">
                                <div class="form-group">
                                    <input type="submit" value="Create" class="contact-btn" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>









