@model Preacepta.Modelos.AbstraccionesFrond.GePersonaDTO

@{
    ViewData["Title"] = "Crear";
    Layout = "_Layout";
}


<h1>Registrar</h1>


@if (TempData["ErrorMessage"] != null)
{
    <span class="text-bg-danger">@TempData["ErrorMessage"]</span>
}


<h4>Modulo de Persona</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>                
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido1" class="control-label"></label>
                <input asp-for="Apellido1" class="form-control" />
                <span asp-validation-for="Apellido1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido2" class="control-label"></label>
                <input asp-for="Apellido2" class="form-control" />
                <span asp-validation-for="Apellido2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input type="date" asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <select asp-for="Genero" class="form-control" asp-items="ViewBag.Genero"></select>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCivil" class="control-label"></label>
                <select asp-for="EstadoCivil" asp-items="ViewBag.EstadoCivil" class="form-control"></select>
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oficio" class="control-label"></label>
                <input asp-for="Oficio" class="form-control" />
                <span asp-validation-for="Oficio" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label for="provincia">Provincia:</label>
                <select class="selectDaniel" id="provincia" name="provincia">
                    <option value="">Seleccione una provincia</option>
                </select>
            </div>
            <div class="form-group">
                <label for="canton">Cantón:</label>
                <select class="selectDaniel" id="canton" name="canton" disabled>
                    <option value="">Seleccione un cantón</option>
                </select>
                <input id="inputCanton" asp-for="Direccion1" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label for="distrito">Distrito:</label>
                <select class="selectDaniel" id="distrito" name="personaDTO.Direccion1" asp-for="Direccion1" disabled>
                    <option value="">Seleccione un distrito</option>
                </select>
                <input id="inputDistrito" asp-for="Direccion1" class="form-control" readonly />
            </div>

            <!--<div class="form-group">
                <label asp-for="Direccion1" class="control-label"></label>
                <select asp-for="Direccion1" class ="form-control" asp-items="ViewBag.Direccion1"></select>
            </div>-->
            <div class="form-group">
                <label asp-for="Direccion2" class="control-label"></label>
                <input asp-for="Direccion2" class="form-control" />
                <span asp-validation-for="Direccion2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono1" class="control-label"></label>
                <input asp-for="Telefono1" class="form-control" />
                <span asp-validation-for="Telefono1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono2" class="control-label"></label>
                <input asp-for="Telefono2" class="form-control" />
                <span asp-validation-for="Telefono2" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>-->
            <!--<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                </label>
            </div>-->            
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <br/>

            <div class="form-group">

                <input type="submit" value="Registrar" class="btn btn-primary" style=" width: 115px; height: 40px;" />

            </div>
        </form>
    </div>
</div>


<div class="form-group">
    <a asp-action="Index" class="btn btn-info" style="width: 115px; height: 40px; text-align: center; line-height: 26px;">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lyso/js/FiltroProvinicaCantonDistritoGestor.js"></script>
