@model Preacepta.Modelos.AbstraccionesFrond.DocsPoderesEspecialesJudicialeDTO

<head>
    <!--<link href="~/lyso/css/Andy.css" rel="stylesheet" />-->
    <link href="~/lyso/css/daniel.css" rel="stylesheet" />
</head>
<body>
<!-- Page Title -->
<div class="page-title-area page-title-area-two title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Generador de Documentos Legales</h2>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Generador de poderes especiales judiciales</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Page Title -->

    <br />
    <br />
    <br />


<div class="contact-form contact-form-two contact-form-three">
    <div class="container">
            <div class="col-md-12 col-lg-12 encabezadoForm">
                <img src="~/lyso/img/docs3.png" width=200px" />
            </div>
        <div class="contact-wrap">
                <form asp-action="CreateDocsPoderesEspecialesJudiciales" id="CreateDocsPoderesEspecialesJudiciales">
                    @if (ViewBag.DocumentoAnteriorId != null)
                    {
                        <script>
                            console.log("DocumentoAnteriorId: @ViewBag.DocumentoAnteriorId");
                        </script>
                    }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row justify-content-center">
                    <div class="row">
                            <div class="contact-form contact-form-two">
                                <div class="container">
                                    <div class="contact-wrap">
                                        <form asp-action="CreateDocsPoderesEspecialesJudiciales" id="CreateDocsPoderesEspecialesJudiciales">
                                            @if (ViewBag.DocumentoAnteriorId != null)
                                            {
                                                <input type="hidden" name="DocumentoAnteriorId" value="@ViewBag.DocumentoAnteriorId" />
                                            }

                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                            <h2>Formulario para generar poder judicial</h2>

                                            <div class="row justify-content-center">
                                                <div class="seccion-titulo">Datos del documento</div>

                                                <!-- Fecha -->
                                                    <div class="col-sm-6 col-lg-6 centro">
                                                        <div class="form-group">
                                                            <label asp-for="Fecha" class="control-label"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6">
                                                        <div class="form-group">
                                                            <input asp-for="Fecha" type="date" class="form-control" id="idFecha" />
                                                            <span asp-validation-for="Fecha" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                <!-- Abogado -->
                                                
                                                    <div class="col-sm-6 col-lg-6 centro">
                                                        <div class="form-group">
                                                            <label asp-for="IdAbogado" class="control-label"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6">
                                                        <div class="form-group">
                                                            <select asp-for="IdAbogado" class="form-control" asp-items="ViewBag.IdAbogado" id="idIdAbogado"></select>
                                                        </div>
                                                    </div>

                                                <br />
                                                <br />
                                                <br />
                                                <br />

                                                <!-- Cliente -->
                                                    <div class="col-sm-6 col-lg-6 centro">
                                                        <div class="form-group">
                                                            <label asp-for="IdCliente" class="control-label"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6">
                                                        <div class="form-group">
                                                            <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente" id="idIdCliente"></select>
                                                        </div>
                                                    </div>

                                                <br />
                                                <br />
                                                <br />
                                                <br />

                                                <!-- Texto -->
                                                    <div class="col-sm-6 col-lg-6 centro">
                                                        <div class="form-group">
                                                            <label asp-for="Texto" class="control-label"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6">
                                                        <div class="form-group">
                                                            <input asp-for="Texto" class="form-control" id="idTexto" />
                                                            <span asp-validation-for="Texto" class="text-danger"></span>
                                                        </div>
                                                    </div>


                                                <!-- Botones -->
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="text-center d-flex justify-content-center gap-3">
                                                        <div class="form-group" id="btnCrearCaso">
                                                            <input type="submit" value="Crear Documento" class="contact-btn" />
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" id="btnPrevisualizar" class="contact-btn">
                                                                Previsualizar PDF
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                </form>
            </div>
        </div>
    </div>
</body>


<!-- Modal
<div class="modal fade" id="PrevioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="formulario contact-form contact-form-two">
<div class="container">
<div class="contact-wrap">
<h2>Revisión de datos ingresados</h2>
<p style="color: black"><strong>Tipo Caso:</strong> <span id="previoTipoCaso"></span></p>
<p style="color: black"><strong>Nombre del caso:</strong> <span id="previotitulo"></span></p>
<p style="color: black"><strong>Pruebas Iniciales:</strong> <span id="previoPruebas"></span></p>
<p style="color: black"><strong>Cliente:</strong> <span id="previoCliente"></span></p>
<p style="color: black"><strong>Detalles del Caso:</strong> <span id="previoDescripcion"></span></p>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="Retroceso">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div> -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="PrevioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Revisión de datos ingresados</h5>
                <button id="Retroceso2" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="color: black"><strong>Fecha:</strong> <span id="previoFecha"></span></p>
                <p style="color: black"><strong>Abogado:</strong> <span id="previoIdAbogado"></span></p>
                <p style="color: black"><strong>Cliente:</strong> <span id="previoIdCliente"></span></p>
                <p style="color: black"><strong>Texto:</strong> <span id="previoTexto"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="contact-btn" data-bs-dismiss="modal" id="Retroceso">Hacer Cambios</button>
                <button type="button" id="BtnConfirmar" class="contact-btn">Confirmar datos</button>
            </div>
        </div>
    </div>
</div>


<script src="~/lyso/js/DocsPoderesEspecialesJudiciales.js"></script>