<head>
    <link href="~/lyso/css/Daniel.css" rel="stylesheet" />
</head>

<!-- Page Title -->
<div class="page-title-area page-title-area-two title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Generador de Documentos Legales</h2>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Generador de documentos</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<br />
<br />
<br />
<div class="contact-form contact-form-two">
    <div class="container">
        <div class="contact-wrap">
            <form id="contactForm" class="">
                <h2>Filtrar Formulario</h2>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" name="marca" id="marca" class="form-control" required data-error="Favor ingrese el dato" placeholder="">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="text-center">
                            <button type="submit" class="contact-btn">Buscar</button>
                        </div>                       
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="contact-form contact-form-two contact-form-three">
    <div class="container">
        <div class="contact-wrap">
            <!--<div class="mostrar">
                <h2 class="w-100">Selecciona un Formulario</h2>
                <label for="selector" class="w-100">Elige una opción:</label>
                <select id="selector" onchange="mostrarFormulario()" class="w-100">
                    <option value="">-- Selecciona --</option>
                    <option value="TraspasoVehiculo">Traspaso de Vehículo</option>
                    <option value="TraspasoMotocicleta">Traspaso de Motocicleta</option>
                </select>
            </div>-->
           
            <div class="row justify-content-center">
            <div class="form-group">
                <h2 class="w-100">Selecciona un Formulario</h2>
                <a asp-controller="DocsInscripcionVehiculo" asp-action="CreateDocsInscripcionVehiculo">Inscripcion de Vehiculo</a>
                <div class="help-block with-errors"></div>
            </div>
            </div>
            <div>
                <br />
            </div>
        </div>
    </div>
</div>

<!--Vista DocsGenerator
este codigo lo que hace es mostrar solo el formulario seleccionado en dropdown-->
<script>
    function mostrarFormulario() {
        // Oculta todos los formularios
        const formularios = document.querySelectorAll('.formulario');
        formularios.forEach(formulario => formulario.style.display = 'none');

        // Muestra el formulario seleccionado
        const seleccion = document.getElementById('selector').value;
        if (seleccion) {
            document.getElementById(seleccion).style.display = 'block';
        }
    }

    const FormMoto = document.getElementById("MensajeFormularioVehiculo");
    const tooltip = document.getElementById("tooltip");


    FormMoto.addEventListener("mouseover", (event) => {
        const { x, y, height } = event.target.getBoundingClientRect();
        tooltip.style.left = `${x}px`;
        tooltip.style.top = `${y + height + 5}px`;
        tooltip.style.display = "block";
    });

    FormMoto.addEventListener("mouseout", () => {
        tooltip.style.display = "none";
    });
</script>




