<!-- Page Title -->
<div class="page-title-area page-title-area-two title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Tutorial: Creación de documentos legales</h2>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Tutorial</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<br />
<br />
<br />
<div class="formulario contact-form contact-form-two contact-form-three">
    <div class="container">
        <div class="contact-wrap">
            <h2>Primer y segundo paso:</h2>
            <img src="~/lyso/img/imagen1.png" />

            <p style="color: black">
               
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id risus accumsan, placerat enim sit amet, aliquam orci. Nunc finibus nibh id tempor pharetra. Etiam in magna in lacus facilisis euismod. Ut imperdiet pellentesque est eu pretium. Etiam porttitor dui vitae ante pharetra pretium. Phasellus aliquam, quam vel egestas pretium, velit orci tincidunt urna, et aliquam diam augue et ipsum. Proin libero dui, volutpat et ligula eget, sollicitudin condimentum mi. Cras auctor elit ante, ut bibendum elit suscipit nec. Aenean nec nunc rhoncus, euismod ex sed, tempus metus. In eros erat, rutrum vitae metus ut, fermentum lacinia ex. Etiam at dictum quam. Nam urna metus, vestibulum eu massa id, molestie eleifend odio.

                Donec commodo eleifend ex sed rutrum. Nunc malesuada orci nisi, vel placerat felis sagittis et. Nam eget suscipit ipsum. Aenean maximus lacus ut tellus ultricies tristique. Quisque lacus ex, bibendum vel ipsum ac, finibus imperdiet magna. Fusce pharetra nulla quis lobortis iaculis. In hac habitasse platea dictumst. Donec malesuada faucibus metus, sed ultricies mauris. Vestibulum sit amet diam est.

                Cras consectetur ligula tellus, id rutrum orci aliquam a. Nulla nec mauris blandit, mattis metus nec, lacinia ipsum. Suspendisse non ultricies massa, eget tempus lacus. Proin sed condimentum sem. Vestibulum quam risus, eleifend nec blandit vel, facilisis eu ipsum. Curabitur consequat, augue sed varius pellentesque, erat nisi hendrerit felis, eget interdum urna ipsum sit amet dolor. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam mauris urna, blandit id risus eget, malesuada vulputate erat.

                Suspendisse potenti. Donec congue ante risus, at vehicula lectus iaculis a. Mauris tortor neque, pharetra non ipsum ut, ultrices fringilla nibh. Duis bibendum dictum libero, vel congue mi. Vestibulum tincidunt congue dui, non dignissim nisi luctus at. Maecenas commodo cursus purus eget mollis. Donec finibus quis urna sit amet gravida. Praesent non magna vitae arcu eleifend lacinia vitae ut orci. Phasellus consectetur felis sed fermentum elementum. Nulla facilisi. Nullam sed eros risus. Ut purus nulla, blandit eu iaculis id, blandit et purus. Cras vel finibus justo. Sed eget lacinia dui. Pellentesque consequat turpis quis nisi venenatis, eget sollicitudin lorem consectetur. Suspendisse tincidunt orci nunc, vitae pulvinar nisi mollis pulvinar.

                Suspendisse turpis elit, tincidunt ut nibh id, tincidunt condimentum leo. Nam aliquet eget est at scelerisque. Nunc viverra mauris quis dui fringilla tempor. Aenean tempor pellentesque leo, eget consequat justo faucibus ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris viverra facilisis ipsum, tincidunt dignissim ante luctus a. Etiam felis libero, malesuada non leo ac, suscipit pellentesque metus. Nullam est tellus, consectetur sit amet fringilla a, gravida sed sapien.

                Aliquam sodales at orci nec consequat. Phasellus posuere diam pulvinar massa porttitor.</p>
                <br />

            <h2>Tercer paso:</h2>            
            <img src="~/lyso/img/tutorial/imagen2.png" />

            <p style="color: black">
                Aliquam sit amet rutrum sapien, ut blandit nulla. Donec mollis vel sem vel iaculis. Vivamus massa justo, convallis porta dictum ut, pulvinar non nibh. Praesent purus libero, blandit in orci lacinia, commodo lacinia nisi. Mauris sollicitudin, est elementum accumsan interdum, arcu dui iaculis erat, et venenatis tellus est et lorem. Morbi eu erat molestie, finibus tortor at, tempus massa. Morbi dictum, nisi non pretium rhoncus, turpis libero interdum nisl, id varius lacus mauris et massa. Duis faucibus, quam posuere ullamcorper posuere, lectus risus tempus sapien, eu tempor risus nibh et lacus. Suspendisse lacinia risus sed dui gravida sagittis. Mauris ac metus tellus. Aenean ligula dui, vehicula sit amet molestie vitae, placerat consequat lorem. Aenean semper gravida erat sit amet rhoncus.

                Sed porta arcu orci, vitae tincidunt dolor feugiat id. Nullam vulputate lectus ac aliquam pharetra. Mauris in blandit nibh. Vestibulum leo dui, dignissim eget iaculis et, ullamcorper eu nibh. Aenean dapibus lectus arcu, id euismod quam eleifend non. Nullam hendrerit, mi sollicitudin pharetra finibus, augue ex euismod massa, id fermentum massa ex ut magna. Sed ut diam mollis, viverra nunc ac, hendrerit massa. Nulla facilisi. Sed auctor sapien vel orci consequat, commodo cursus ex sodales. Sed at faucibus nulla, vitae aliquet sem. Sed sed felis bibendum, tincidunt elit eu, vehicula leo. Nullam at elit ac mauris dapibus congue id eget lectus. Donec dictum, turpis rutrum convallis posuere, dolor felis dignissim dui, eget tempor velit tortor vitae ante.

                Proin ac viverra dolor. Vivamus sed metus eget mi scelerisque pretium non quis mi. Sed nisl ex, ultrices sed libero convallis, mollis porttitor augue. Fusce in ipsum nisl. Vivamus a est eu dui pretium malesuada in ut tortor. Vestibulum nec est justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer vel rutrum diam, in imperdiet elit. In dictum non dui sed molestie. Cras auctor viverra viverra. Donec lorem tellus, laoreet efficitur dui et, bibendum luctus enim. In ac fermentum eros. Phasellus neque eros, tincidunt ac sagittis at, gravida sed lorem. Nullam vel feugiat purus.

                Cras sit amet maximus dolor. Nulla facilisi. Nulla volutpat eros non ipsum cursus, nec lobortis nibh rhoncus. Praesent et lacus sit amet mauris rutrum consequat. Phasellus dapibus et leo eget viverra. Etiam vulputate neque enim, at mattis nibh mollis sed. Donec eu euismod felis, id tempus nulla. Vestibulum facilisis sollicitudin turpis sit amet imperdiet. In vitae eleifend neque. Sed sit amet enim ultricies, dignissim nibh eu, fermentum est.

                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla finibus, tortor vitae lobortis dignissim, velit arcu fermentum odio, at ullamcorper sapien turpis a urna. Cras nec hendrerit quam. Nullam ultricies posuere lobortis. Nullam erat ipsum, porttitor eu dapibus sit amet, malesuada eget mauris. Ut maximus justo lorem, eu tempus odio volutpat sed. Suspendisse cursus quis tellus nec semper. Ut sed vestibulum turpis. Donec sit amet libero lacinia, ullamcorper mauris quis, tincidunt nisl. Pellentesque malesuada a purus malesuada feugiat. Duis facilisis, magna vel gravida ullamcorper, diam lectus pulvinar odio, vel tincidunt lectus lorem vitae erat. Cras vel pretium ante. Quisque eget finibus erat.

                Nullam et lacus velit. In hac habitasse platea dictumst. Etiam sed risus interdum, scelerisque lectus vel, vulputate quam. Aenean dolor quam, condimentum id metus convallis, feugiat viverra arcu. Fusce lacus ligula, volutpat sed sollicitudin at, venenatis ut est. Praesent ac nisl ac risus dapibus commodo. Nam porttitor, turpis vel rhoncus dignissim, nulla ex hendrerit urna, id iaculis arcu nisl ut odio.

                Phasellus tempor, nunc nec faucibus ornare, urna dolor iaculis quam, vitae lacinia libero lectus sit amet eros. Ut quis luctus neque, id posuere lectus. Cras in sodales metus. Duis quis ullamcorper risus, in rutrum nisi. Praesent a varius justo, in euismod risus. Praesent imperdiet, felis non posuere ullamcorper, justo ante iaculis massa, non imperdiet nibh nisl eu lacus. Praesent vitae eros quis ipsum efficitur ultrices.

                Ut tincidunt elit sit amet erat ultricies finibus. Nulla sollicitudin augue turpis, sit amet tempor velit luctus sit amet.





                <h2>Cuarto paso:</h2>
                <img src="~/lyso/img/tutorial/imagen3.png" />

            <p style="color: black">
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in risus sapien. Nam sollicitudin magna nec risus consequat, ut viverra purus commodo. Pellentesque et dui id mauris hendrerit pulvinar et vel odio.

                Duis condimentum lectus nibh. Integer semper nibh in urna tempus tincidunt. In sed mi ut ligula cursus tristique ac et lacus. In sed tempus est. Proin lacus quam, vulputate in ullamcorper eget, gravida eu ipsum. In hac habitasse platea dictumst. Etiam at libero faucibus, iaculis velit et, ultricies diam. Nulla arcu arcu, tempor non nunc id, placerat vestibulum eros. Cras fringilla vehicula lectus, in mollis mauris vestibulum non. Nam ut ex ligula. Etiam pretium id tortor dapibus pretium.

                Praesent feugiat sem tortor, sit amet tristique sem hendrerit ut. Vivamus molestie, sem nec dictum dapibus, nisi ex pellentesque libero, nec egestas metus purus egestas velit. Suspendisse ac sapien iaculis neque eleifend porttitor. Praesent lectus leo, tincidunt vel gravida vel, faucibus at augue. Quisque urna justo, dictum at magna ac, semper accumsan erat. Suspendisse fermentum commodo sapien, in lacinia libero laoreet facilisis. Integer nec mi ultrices nulla auctor finibus non nec tellus. Quisque blandit volutpat euismod. In eu diam eu tellus dapibus efficitur vulputate a libero. Sed enim nisi, venenatis quis ex mattis, dapibus cursus orci. Cras sapien nisi, euismod vel elementum ut, commodo non risus.

                Fusce non lobortis est. Nullam auctor nisi non pulvinar laoreet. Donec ullamcorper accumsan fermentum. Donec lorem tellus, pretium sed mattis id, convallis ut leo. Vestibulum ullamcorper ultricies pellentesque. Curabitur nunc sapien, blandit vitae facilisis quis, fringilla auctor mauris. Donec lacinia convallis tortor non pretium.

                Fusce elementum ante a odio vulputate, a gravida eros varius. Morbi augue neque, sodales vel velit sed, tempor sollicitudin mauris. Nunc dignissim sit amet dui sed hendrerit. Duis at porttitor justo, ac dapibus orci. Integer mattis mattis consequat. Nulla rutrum mattis dapibus. Sed et faucibus elit.

                Mauris ut sodales odio. Curabitur magna orci, viverra porta odio in, tincidunt ornare tellus. Mauris eget tellus urna. Nulla ultrices aliquet lacus commodo imperdiet. In posuere, nibh at tempus maximus, purus quam tempus libero, ac ornare nisi quam sit amet eros. Vestibulum suscipit tempus tellus a posuere. Sed nisl nulla, feugiat sed mi vel, accumsan pharetra sapien. Cras fermentum pretium velit, ac elementum arcu ultrices nec. Donec imperdiet, odio sit amet dapibus pellentesque, ipsum odio malesuada enim, sit amet feugiat mi dolor volutpat tortor. Curabitur vel ligula in lorem dictum posuere vel at tortor. Phasellus sed viverra nisi. Proin eget lacus non dolor elementum dignissim. Ut ut eleifend elit, at dictum tellus. Sed rutrum imperdiet arcu ac elementum. Nunc tincidunt arcu ac quam pellentesque efficitur.

                Phasellus ac quam a arcu maximus mattis. Maecenas aliquam eros vel turpis dapibus hendrerit. Sed sollicitudin diam est, eu fringilla risus malesuada in. Nam enim sapien, luctus in risus lacinia, dapibus ornare purus. Morbi ultrices est a consequat sodales. Suspendisse posuere tincidunt est. Sed nunc ligula, dapibus a posuere eu, blandit quis lacus. Donec vitae erat sit amet urna congue efficitur.

                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus id enim ut risus finibus bibendum a et lorem. Aenean ullamcorper erat sit amet ullamcorper euismod. Nam venenatis lectus eu elit maximus dictum. Praesent viverra, elit eget dapibus malesuada, ante lorem luctus magna, et cursus massa enim vel velit. Morbi id ante consequat, suscipit mi consectetur, semper ligula. Praesent pellentesque varius ante, non rutrum nunc mollis at. Vivamus a justo tristique, pellentesque mauris quis, facilisis tellus.

                Fusce eget elementum nisl, egestas interdum eros.






                <h2>Quinto paso paso:</h2>
                <img src="~/lyso/img/tutorial/imagen4.png" />

            <p style="color: black">
                Integer interdum ex eget dui porta porta. Aenean sollicitudin nisl non aliquet eleifend. Quisque imperdiet tincidunt enim sed ultrices. Nullam scelerisque interdum augue, quis semper nulla. Duis leo felis, consectetur quis magna sit amet, egestas ultricies ipsum. Duis sagittis mi in aliquet sagittis. Suspendisse quis porttitor mi. Nullam porta, sem at suscipit sollicitudin, ante eros accumsan lectus, et tempus odio felis vel ligula. Nam convallis molestie lacus, eu maximus libero tincidunt at.

                Mauris aliquet, eros quis ullamcorper sollicitudin, enim justo molestie dui, ut tincidunt metus lorem ac lectus. Nunc tincidunt nibh sed varius malesuada. Duis quis purus tempor, pellentesque leo et, ullamcorper lorem. Nunc volutpat vestibulum porttitor. Proin pellentesque, urna a posuere dignissim, ex metus lobortis leo, eget lacinia lorem turpis et nisl. In vel gravida nibh. Proin rutrum fermentum vulputate. Curabitur imperdiet consequat nulla, sed eleifend magna. Phasellus posuere molestie turpis at ultrices. Mauris commodo dignissim diam, sit amet luctus orci pharetra sit amet. Sed erat velit, bibendum ut ultricies a, vehicula sed est. Suspendisse consectetur, justo et feugiat rutrum, erat velit efficitur lorem, a eleifend sem arcu vel sem. Aenean accumsan est eu interdum scelerisque. Phasellus in nunc eu orci vulputate interdum sit amet sit amet lectus.

                Maecenas quis posuere metus, quis lacinia tellus. Ut a venenatis turpis, quis suscipit arcu. Fusce mi erat, finibus et tempor eget, condimentum in justo. Suspendisse sem felis, malesuada eget vulputate at, auctor vel nisi. Maecenas tincidunt leo vitae mattis mattis. Pellentesque turpis ipsum, molestie quis ipsum a, molestie congue nibh. Suspendisse non neque vel lectus gravida dignissim sed at enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus sit amet finibus sapien. Maecenas vel efficitur mi, sed pharetra mauris. Maecenas quis arcu enim. Sed neque velit, dictum eu consequat sit amet, fermentum a arcu. In elementum pretium orci a euismod. Aliquam erat volutpat. Etiam sit amet nibh elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.

                Nam pulvinar felis ipsum. Duis dui diam, tristique nec consectetur sit amet, tempus sed enim. Duis eu lacinia odio, eget dapibus massa. Pellentesque accumsan gravida neque, ac maximus nisl varius sit amet. Sed ut turpis non sapien pellentesque luctus. Aliquam mollis vestibulum ex, id mattis tortor iaculis sed. Vestibulum vel iaculis arcu, et imperdiet sem. Suspendisse suscipit lacinia ante vitae posuere. Donec id vehicula mi, vel iaculis eros. Vestibulum eleifend metus diam, quis elementum ipsum viverra a. Mauris facilisis urna sem, vitae ullamcorper dolor varius fermentum. Donec eu porta nunc. Aliquam erat volutpat.

                Nulla facilisis tortor leo, quis molestie turpis fermentum eu. Suspendisse fringilla sem a lacus pharetra gravida. Vestibulum ante diam, sollicitudin eu odio non, varius mattis urna. Duis porta porta dui, id pretium neque sodales at. Nullam dapibus massa nec tempor mattis. Suspendisse eu mollis tellus. Sed rutrum et turpis non vulputate. In tincidunt velit mauris, ut dignissim augue bibendum vitae. Nunc ac sapien a est aliquet pellentesque sed non lacus. Nulla id tortor fringilla, pretium tortor vitae, faucibus risus. Nam ex lectus, porta sit amet commodo vel, ultrices sed nisi. Curabitur quis felis ex. Aenean congue non ipsum et scelerisque.

                Sed ac pulvinar ligula. Nunc vitae ipsum dolor. Mauris laoreet, est auctor tempus mattis, tortor neque blandit quam, id congue nisl metus non velit. Vivamus mollis euismod augue, id euismod lectus porta id. Donec fringilla risus a mauris pulvinar molestie. Ut sit amet lacus odio. Duis pellentesque ornare risus sit amet auctor. Donec gravida pulvinar posuere. Fusce fermentum nulla in sodales egestas. Nullam imperdiet ligula eu tristique ultrices. Morbi maximus feugiat ipsum, vel condimentum purus suscipit et. Phasellus elementum libero mi, posuere pulvinar sem egestas finibus. Fusce sit amet est libero.

            </p>
        </div>
    </div>
</div>
<div class="formulario contact-form contact-form-two contact-form-three">
    <div class="container">
        <div class="contact-wrap">
            <div class="text-center">
                <a class="cmn-btn" asp-controller="DocsGenerator" asp-action="Tutorial">Añada su testimonio</a>
                
            </div>
        </div>
    </div>
</div>








