<!-- Page Title -->
<div class="page-title-area page-title-area-two title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Tutorial: Creación de documentos legales</h2>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Tutorial</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<br />
<br />
<br />
<div class="formulario contact-form contact-form-two contact-form-three">
    <div class="container">
        <div class="contact-wrap">
            <h2>Primer paso:</h2>
            <img src="~/lyso/img/CAP1.png" />

            <p style="color: black">
               
                Para generar documentos legales dirijase al menú de documentos en la parte superior de la pantalla, desde ahi se desplegará un menú con los diferentes tipos de archivos que puede generar con el sistema, elija el archivo que desee generar al hacer click sobre el titulo del mismo.
            </p>
                <br />

            <h2>Segundo paso:</h2>            
            <img src="~/lyso/img/CAP3.png" />

            <p style="color: black">
               Una vez que haya seleccionado el archivo que desee generar, el sistema le llevará a una pantalla donde deberá llenar el formulario con los campos del documento según los datos de los clientes.

               Una vez que haya terminado de llenar los datos del formulario, haga click en previsualizar y el sistema abrirá una nueva pestaña en el navegador con la previsualización del documento. En caso de que usted vea algún error en los datos ingresados cierre la pestaña de previsualización y en el formulario haga la corrección de los datos, si usted desea volver a previsualizar el documento esta vez con la corrección de los datos haga click nuevamente en Previsualizar. Si todo está correcto, solamente cierre la pestaña de previsualización.

                <h2>Tercer paso:</h2>
                <img src="~/lyso/img/CAP2.png" />

            <p style="color: black">

                Si luego de previsualizar el documento todo está correcto, solamente presione en crear documento para que el documento se guarde en el sistema.
        </div>
    </div>
</div>







