@model Preacepta.Modelos.AbstraccionesFrond.DocsInscripcionVehiculoDTO

<head>
    <link href="~/lyso/css/Daniel.css" rel="stylesheet" />
</head>

<!-- Page Title -->
<div class="page-title-area page-title-area-two title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Generador de Documentos Legales</h2>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Generador de documento de inscripción de vehiculo</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<br />
<br />
<br />

<body>
<div class="contact-form contact-form-two contact-form-three">
    <div class="container">
        <div class="contact-wrap">
                <form asp-action="CreateDocsInscripcionVehiculo" id="CreateDocsInscripcionVehiculo">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h2>Formulario para caso nuevo</h2>
                <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="CedulaCliente" class="control-label"></label>
                                <select asp-for="CedulaCliente" class="form-control" asp-items="ViewBag.CedulaCliente" id="idCedulaCliente"></select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="CedulaAbogado" class="control-label"></label>
                                <select asp-for="CedulaAbogado" class="form-control" asp-items="ViewBag.CedulaAbogado" id="idCedulaAbogado"></select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="MarcaVehiculo" class="control-label"></label>
                                <select asp-for="MarcaVehiculo" class="form-control" asp-items="ViewBag.MarcaVehiculo" id="MarcaVehiculo"></select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="EstiloVehiculo" class="control-label"></label>
                                <select asp-for="EstiloVehiculo" class="form-control" asp-items="ViewBag.EstiloVehiculo" id="EstiloVehiculo"></select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="ModeloVehiculo" class="control-label"></label>
                                <input asp-for="ModeloVehiculo" class="form-control" id="ModeloVehiculo" />
                                <span asp-validation-for="ModeloVehiculo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Categoria" class="control-label"></label>
                                <input asp-for="Categoria" class="form-control" id="idCategoria" />
                                <span asp-validation-for="Categoria" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="MarcaMotor" class="control-label"></label>
                                <input asp-for="MarcaMotor" class="form-control" id="idMarcaMotor" />
                                <span asp-validation-for="MarcaMotor" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="NumeroMotor" class="control-label"></label>
                                <input asp-for="NumeroMotor" class="form-control" id="idNumeroMotor" />
                                <span asp-validation-for="NumeroMotor" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="NumeroSerieChasis" class="control-label"></label>
                                <input asp-for="NumeroSerieChasis" class="form-control" id="idNumeroSerieChasis" />
                                <span asp-validation-for="NumeroSerieChasis" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Vin" class="control-label"></label>
                                <input asp-for="Vin" class="form-control" id="idVin" />
                                <span asp-validation-for="Vin" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Anio" class="control-label"></label>
                                <input asp-for="Anio" class="form-control" id="idAnio" />
                                <span asp-validation-for="Anio" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Carroceria" class="control-label"></label>
                                <input asp-for="Carroceria" class="form-control" id="idCarroceria" />
                                <span asp-validation-for="Carroceria" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="PesoNeto" class="control-label"></label>
                                <input asp-for="PesoNeto" class="form-control" id="idPesoNeto" />
                                <span asp-validation-for="PesoNeto" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="PesoBruto" class="control-label"></label>
                                <input asp-for="PesoBruto" class="form-control" id="idPesoBruto" />
                                <span asp-validation-for="PesoBruto" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Potencia" class="control-label"></label>
                                <input asp-for="Potencia" class="form-control" id="idPotencia" />
                                <span asp-validation-for="Potencia" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Color" class="control-label"></label>
                                <input asp-for="Color" class="form-control" id="idColor" />
                                <span asp-validation-for="Color" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Capacidad" class="control-label"></label>
                                <input asp-for="Capacidad" class="form-control" id="idCapacidad" />
                                <span asp-validation-for="Capacidad" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Combustible" class="control-label"></label>
                                <input asp-for="Combustible" class="form-control" id="idCombustible" />
                                <span asp-validation-for="Combustible" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Cilindraje" class="control-label"></label>
                                <input asp-for="Cilindraje" class="form-control" id="idCilindraje" />
                                <span asp-validation-for="Cilindraje" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="LugarFirma" class="control-label"></label>
                                <select asp-for="LugarFirma" class="form-control" asp-items="ViewBag.LugarFirma" id="idLugarFirma"></select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="FechaFirma" class="control-label"></label>
                                <input asp-for="FechaFirma" class="form-control" id="idFechaFirma" />
                                <span asp-validation-for="FechaFirma" class="text-danger"></span>
                            </div>
                        </div>


                    <div class="col-md-12 col-lg-12">

                        <div class="text-center">
                            <!-- Button trigger modal -->
                            <div id="btnRevisar">
                                <button type="button" id="PrevioBtn" class="contact-btn" data-bs-toggle="modal" data-bs-target="#PrevioModal">
                                    Revisar
                                </button>
                            </div>
                            <div class="form-group" id="btnCrearCaso">
                                <input type="submit" value="Crear Caso" class="contact-btn" />
                            </div>
                            <!--<button type="submit" class="contact-btn">Submit Case</button>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="PrevioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Revisión de datos ingresados</h5>
                <button id="Retroceso2" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="color: black"><strong>Cedula del Cliente:</strong> <span id="previoCedulaCliente"></span></p>
                <p style="color: black"><strong>Cedula del Abogado:</strong> <span id="previoCedulaAbogado"></span></p>
                <p style="color: black"><strong>Marca del Vehiculo:</strong> <span id="previoMarcaVehiculo"></span></p>
                <p style="color: black"><strong>Estilo del Vehiculo:</strong> <span id="previoEstiloVehiculo"></span></p>
                <p style="color: black"><strong>Modelo del Vehiculo:</strong> <span id="previoModeloVehiculo"></span></p>
                <p style="color: black"><strong>Categoria:</strong> <span id="previoCategoria"></span></p>
                <p style="color: black"><strong>Marca del motor:</strong> <span id="previoMarcaMotor"></span></p>
                <p style="color: black"><strong>Numero de Motor:</strong> <span id="previoNumeroMotor"></span></p>
                <p style="color: black"><strong>Número de Serie del Chasis:</strong> <span id="previoNumeroSerieChasis"></span></p>
                <p style="color: black"><strong>VIN del Vehículo:</strong> <span id="previoVin"></span></p>
                <p style="color: black"><strong>Año del Vehículo:</strong> <span id="previoAnio"></span></p>
                <p style="color: black"><strong>Tipo de Carrocería:</strong> <span id="previoCarroceria"></span></p>
                <p style="color: black"><strong>Peso Neto:</strong> <span id="previoPesoNeto"></span></p>
                <p style="color: black"><strong>Peso Bruto:</strong> <span id="previoPesoBruto"></span></p>
                <p style="color: black"><strong>Potencia del Motor:</strong> <span id="previoPotencia"></span></p>
                <p style="color: black"><strong>Color del Vehículo:</strong> <span id="previoColor"></span></p>
                <p style="color: black"><strong>Capacidad del Vehículo:</strong> <span id="previoCapacidad"></span></p>
                <p style="color: black"><strong>Tipo de Combustible:</strong> <span id="previoCombustible"></span></p>
                <p style="color: black"><strong>Cilindraje del Motor:</strong> <span id="previoCilindraje"></span></p>
                <p style="color: black"><strong>Lugar de Firma:</strong> <span id="previoLugarFirma"></span></p>
                <p style="color: black"><strong>Fecha de Firma:</strong> <span id="previoFechaFirma"></span></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="contact-btn" data-bs-dismiss="modal" id="Retroceso">Hacer Cambios</button>
                <button type="button" id="BtnConfirmar" class="contact-btn">Confirmar datos</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/lyso/js/docsInscripciondeVehiculo.js"></script>