@model Preacepta.Modelos.AbstraccionesFrond.CitasDTO

<head>
    <link href="~/lyso/css/Daniel.css" rel="stylesheet" />
    <link href="~/calendario/stylecalendar.css" rel="stylesheet" />
</head>


<div class="contact-form contact-form-two contact-form-three LetraNegra">
    <div class="container">
        <div class="contact-wrap">
            <h4 class="mb-4">Crear Nueva Cita</h4>

            <form asp-controller="Citas" asp-action="Create" method="post" id="formCrearCita">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="IdCita" />
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <!-- Fecha -->
                <div class="form-group mb-3">
                    <div class="col-sm-4"><label asp-for="Fecha"></label></div>
                    <input asp-for="Fecha" class="form-control" type="date" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
                

                <!-- Hora -->
                <div class="form-group mb-3">
                    <label asp-for="Hora" class="control-label"></label>
                    <input asp-for="Hora" class="form-control" type="time"/>
                    <span asp-validation-for="Hora" class="text-danger"></span>
                
                </div>
                <!-- Tipo de Cita -->
                <div class="form-group mb-3">
                    <label asp-for="IdTipoCita">Tipo de Cita:</label>
                    <select asp-for="IdTipoCita" class="form-control" asp-items="@(ViewData["CitasTipo"] as List<SelectListItem>)">
                        <option value="">-- Seleccione Tipo de Cita --</option>
                    </select>
                    <span asp-validation-for="IdTipoCita" class="text-danger"></span>
                </div>

                <!-- Anfitrión -->
                <div class="form-group mb-3">
                    <label for="NombreAnfitrion" class="control-label"> Nombre Anfitrión</label>
                    <input asp-for="NombreAnfitrion" class="form-control" readonly  />
                    <input type="hidden" asp-for="Anfitrion" />
                </div>

                <!-- Link de Video -->
                <div class="form-group mb-3">
                    <label asp-for="LinkVideo" class="control-label"></label>
                    <input asp-for="LinkVideo" class="form-control" />
                    <span asp-validation-for="LinkVideo" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label for="IdCliente">Cliente</label>
                    <select asp-for="IdCliente" asp-items="@(ViewData["Clientes"] as IEnumerable<SelectListItem>)" class="form-control">
                        <option value="">-- Seleccione un cliente --</option>
                    </select>
                    <span asp-validation-for="IdCliente" class="text-danger"></span>
                </div>
                <!-- Botones -->
                <div class="text-center mt-4">
                    <input type="submit" value="Crear" class="contact-btn" />
                    <button type="button" class="contact-btn" onclick="cerrarModal('modalCrearCita', true)">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

