@model Preacepta.Modelos.AbstraccionesFrond.CitasDTO

@{
    ViewData["Title"] = "Editar Cita";
    Layout = "_Layout";
}

<h2>Editar Cita</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <input type="hidden" asp-for="IdCita" />

            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" type="date" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" type="time" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="IdTipoCita">Tipo de Cita:</label>
                @Html.DropDownListFor(model => model.IdTipoCita, ViewBag.TiposCita as SelectList, "Seleccione...", new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label for="Anfitrion">Anfitrión:</label>
                @Html.DropDownListFor(model => model.Anfitrion, ViewBag.Anfitriones as SelectList, "Seleccione...", new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label asp-for="LinkVideo" class="control-label"></label>
                <input asp-for="LinkVideo" class="form-control" />
                <span asp-validation-for="LinkVideo" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-controller="Citas" a asp-action="CitasPrueba" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
