.mostrar {
    color: black;
    /*border: 1px solid #b69d74;*/
}

.contact-wrapDaniel {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form-twoDaniel .contact-wrapDaniel {
    padding: 15px 5px;
}

.MarcoIdentiy {
    padding-left: 500px; 
    padding-right: 500px;
}

.LetraNegra {
    color:black !important;
}


/*Vista FormTesmonials*/
.clasificacion{
     direction: rtl;
  unicode-bidi: bidi-override;
}

.InputCalficacion {
    display: none;
}

.LabelCalificacion {
    color: grey;
    font-size: 40px;
}

.LabelCalificacion:hover,
.LabelCalificacion:hover ~ label {
        color: orange;
    }

.InputCalficacion[type="radio"]:checked ~ label {
    color: orange;
}
/*End Vista FormTesmonials*/

#tooltip {
    position: absolute;
    background-color: #333; /* Color del fondo */
    color: white; /* Color del texto */
    padding: 5px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    display: none; /* Oculto por defecto */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}


.DanielModalDocs {
    max-width: 60%;
    width: 70%;
}


/*estos estilos se en los formularios de abagado y persona(cliente) o cualquier otro donde se usar como parte del formulario las opciones de provincia, canton y distrito*/
#provincia + .nice-select,
#canton + .nice-select,
#distrito + .nice-select {
    display: none !important;
}


.selectDaniel {
    background-color: transparent;
    border: 1px solid #b69d74;
    border-radius: 0;
    height: 60px;
    padding-left: 30px;
    color: #333333;
    font-size: 15px;
    width: 100%;
}

.EtapaPLestilos {
    width: 500px; /* Ajusta el ancho según tus necesidades */
    height: 50px; /* Ajusta la altura según tus necesidades */
    text-align: center;
    align-content: center;
    font-size: 16px;
    padding: 10px;
}

