<head>
    <link href="~/lyso/css/Daniel.css" rel="stylesheet" />
</head>
<!-- Page Title -->
<body>
<div class="page-title-area page-title-area-two title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Aperturar caso</h2>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Crear Caso</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<br />
<br />
<br />


<div class="contact-form contact-form-two contact-form-three">
    <div class="container">
        <div class="contact-wrap">
            <form id="FormularioCaso">
                <h2>Formulario para caso nuevo</h2>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" name="TipoCaso" id="TipoCaso" class="form-control" required data-error="Favor ingrese el dato" placeholder="Tipo Caso">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" name="titulo" id="titulo" class="form-control" required data-error="Favor ingrese el dato" placeholder="Título del Caso">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" name="Pruebas" id="Pruebas" required data-error="Favor ingrese el dato" class="form-control" placeholder="Pruebas Iniciales">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" name="NomCliente" id="NomCliente" class="form-control" required data-error="Favor ingrese el dato" placeholder="Nombre Cliente">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group">
                            <textarea name="descripcionCaso" class="form-control" id="descripcionCaso" cols="30" rows="8" required data-error="Write your message" placeholder="Descripción"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                       
                    <div class="col-md-12 col-lg-12">

                        <div class="text-center">
                            <!-- Button trigger modal -->
                            <button type="button" id="PrevioBtn" class="contact-btn" data-bs-toggle="modal" data-bs-target="#PrevioModal">
                                Revisar
                            </button>
                                <!--<button type="submit" class="contact-btn">Submit Case</button>-->
                        </div>                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>


<!-- Modal
<div class="modal fade" id="PrevioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="formulario contact-form contact-form-two">
                <div class="container">
                    <div class="contact-wrap">
                        <h2>Revisión de datos ingresados</h2>
                        <p style="color: black"><strong>Tipo Caso:</strong> <span id="previoTipoCaso"></span></p>
                        <p style="color: black"><strong>Nombre del caso:</strong> <span id="previotitulo"></span></p>
                        <p style="color: black"><strong>Pruebas Iniciales:</strong> <span id="previoPruebas"></span></p>
                        <p style="color: black"><strong>Cliente:</strong> <span id="previoCliente"></span></p>
                        <p style="color: black"><strong>Detalles del Caso:</strong> <span id="previoDescripcion"></span></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="Retroceso">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>        
    </div>  
</div> -->

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="PrevioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Revisión de datos ingresados</h5>
                <button id="Retroceso2" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">               
                <p style="color: black"><strong>Tipo Caso:</strong> <span id="previoTipoCaso"></span></p>
                <p style="color: black"><strong>Nombre del caso:</strong> <span id="previotitulo"></span></p>
                <p style="color: black"><strong>Pruebas Iniciales:</strong> <span id="previoPruebas"></span></p>
                <p style="color: black"><strong>Cliente:</strong> <span id="previoCliente"></span></p>
                <p style="color: black"><strong>Detalles del Caso:</strong> <span id="previoDescripcion"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="contact-btn" data-bs-dismiss="modal" id="Retroceso">Close</button>
                <button type="button" class="contact-btn">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script src="~/lyso/js/Daniel.js"></script>








