     <!-- Page Title -->
<div class="page-title-area page-title-area-three title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Acerca de nuestra firma e historia</h2>
                <ul>
                    <li>
                        <a asp-action="Index">Home</a>
                        
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Sobre nosotros</li>
                </ul>
                <!--<div class="page-title-btn">
                    <a href="testimonial.html">
                        ALL CERTIFICATES
                        <i class="icofont-arrow-right"></i>
                    </a>
                </div>-->
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Help -->
<div class="help-area help-area-two help-area-four pb-70">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="~/lyso/img/home-two/5.jpg" alt="Help">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <h2>Proporcionamos abogados profesionales para ayudarlo</h2>
                        <p>Estamos calificados para el éxito de nuestros clientes y como un bufete de abogados profesional. Por lo tanto, estos abogados profesionales todavía están aquí a su lado con amabilidad, integridad y lealtad para ayudarlo con los peores momentos de su vida.</p>
                        <p>Estamos calificados para el éxito de nuestros clientes y como un bufete de abogados profesional. Por lo tanto, estos abogados profesionales todavía están aquí a su lado con amabilidad.</p>
                        <div class="help-inner-left">
                            <ul>
                                <li>
                                    <i class="flaticon-checkmark"></i>
                                    Conozca el sitio Web
                                </li>
                                <li>
                                    <i class="flaticon-checkmark"></i>
                                    Elija servicios
                                </li>
                            </ul>
                        </div>
                        <div class="help-inner-right">
                            <ul>
                                <li>
                                    <i class="flaticon-checkmark"></i>
                                    Respuesta rápida
                                </li>
                                <li>
                                    <i class="flaticon-checkmark"></i>
                                    Desempeño
                                </li>
                            </ul>
                        </div>
                        <div class="help-signature">
                            <img src="~/lyso/img/home-one/4.png" alt="Signature">
                        </div>
                        <h3>Barrister Babatunde Smithi</h3>
                        <span>Fundador</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center help-wrap">
            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <h2>Nuestros Abogados Siempre Brindan un Servicio Excelente</h2>
                        <p>Jau sen ir noskaidrots fakts, ka aplūkojot maketa dizainu un kompozīciju teksta saturs novērš uzmanību. Lorem Ipsum izmanto tāpēc, kas tas nodrošina vairāk.</p>
                        <div class="help-inner-left">
                            <ul>
                                <li>
                                    <i class="flaticon-checkmark"></i>
                                    Respuesta a tiempo
                                </li>
                                <li>
                                    <i class="flaticon-checkmark"></i>
                                    Vía Legal
                                </li>
                            </ul>
                        </div>
                        <div class="help-inner-right">
                            <ul>
                                <li>
                                    <i class="flaticon-checkmark"></i>
                                    Servicios Legales
                                </li>
                                <li>
                                    <i class="flaticon-checkmark"></i>
                                    Trabajo Honesto
                                </li>
                            </ul>
                        </div>
                        <!--<a class="cmn-btn" href="practice.html">Learn More</a>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="~/lyso/img/home-two/6.jpg" alt="Help">
                </div>
            </div>
        </div>
        <div class="help-shape">
            <img src="~/lyso/img/home-one/6.png" alt="Shape">
        </div>
    </div>
</div>
<!-- End Help -->
<!-- Expertise -->
<section class="expertise-area expertise-area-two pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>NUESTRA EXPERIENCIA</span>
            <h2>Bufete de Abogados Dedicado a Nuestros Clientes</h2>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <div class="expertise-item">
                    <ul>
                        <li class="wow fadeInUp" data-wow-delay=".3s">
                            <div class="expertise-icon">
                                <i class="flaticon-experience"></i>
                                <img src="~/lyso/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Experiencia</h3>
                            <p>Lorem Ipsum – tas ir teksta salikums, kuru izmanto poligrāfijā un maketēšanas darbos. Lorem Ipsum ir kļuvis par vispārpieņemtu teksta aizvietotāju kopš 16.</p>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".4s">
                            <div class="expertise-icon">
                                <i class="flaticon-lawyer"></i>
                                <img src="~/lyso/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Habilidades</h3>
                            <p>Lorem Ipsum – tas ir teksta salikums, kuru izmanto poligrāfijā un maketēšanas darbos. Lorem Ipsum ir kļuvis par vispārpieņemtu teksta aizvietotāju kopš 16.</p>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".5s">
                            <div class="expertise-icon">
                                <i class="flaticon-balance"></i>
                                <img src="~/lyso/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Proceso legal</h3>
                            <p>Lorem Ipsum – tas ir teksta salikums, kuru izmanto poligrāfijā un maketēšanas darbos. Lorem Ipsum ir kļuvis par vispārpieņemtu teksta aizvietotāju kopš 16.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="expertise-item">
                    <ul>
                        <li class="wow fadeInUp" data-wow-delay=".3s">
                            <div class="expertise-icon">
                                <i class="flaticon-money-bag"></i>
                                <img src="~/lyso/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Bajo costo</h3>
                            <p>Lorem Ipsum – tas ir teksta salikums, kuru izmanto poligrāfijā un maketēšanas darbos. Lorem Ipsum ir kļuvis par vispārpieņemtu teksta aizvietotāju kopš 16.</p>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".4s">
                            <div class="expertise-icon">
                                <i class="flaticon-time"></i>
                                <img src="~/lyso/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Rendimiento</h3>
                            <p>Lorem Ipsum – tas ir teksta salikums, kuru izmanto poligrāfijā un maketēšanas darbos. Lorem Ipsum ir kļuvis par vispārpieņemtu teksta aizvietotāju kopš 16.</p>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".5s">
                            <div class="expertise-icon">
                                <i class="flaticon-conversation"></i>
                                <img src="~/lyso/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Servicio rápido</h3>
                            <p>Lorem Ipsum – tas ir teksta salikums, kuru izmanto poligrāfijā un maketēšanas darbos. Lorem Ipsum ir kļuvis par vispārpieņemtu teksta aizvietotāju kopš 16.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Expertise -->
<!-- About -->
<!--<div> class="about-area pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="about-item">
                    <div class="about-video-wrap">
                        <div class="about-video">
                            <img src="~/lyso/img/about/2.jpg" alt="About">
                        </div>
                        <a href="https://youtu.be/07d2dXHYb94" class="popup-youtube">
                            <i class="icofont-ui-play"></i>
                        </a>
                    </div>
                    <div class="about-content">
                        <h2>Our skills makes us famous</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-item">
                    <div class="about-information">
                        <h2><span>21 feb 1998,</span> We started our law firm</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <div class="about-information">
                        <h2><span>10 March 2000,</span> We started our law firm</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <div class="about-information">
                        <h2><span>9 Nov 2000,</span> We started our law firm</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <div class="about-information">
                        <h2><span>25 Jan 2010,</span> We started our law firm</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- End About -->
