 <!-- Page Title -->


<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Nuestros Abogados</h2>
                <ul>
                    <li>
                        <a asp-action="Index">Home</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Abogados</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Team -->
<section class="team-area team-area-two pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".3s">
                    <img src="~/lyso/img/home-one/team/1.jpg" alt="Team">
                    <div class="team-inner">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>
                            <a asp-controller="Home" asp-action="AttorneyDetails">Attor. Jerry Hudson</a>
                        </h3>
                        <span>Derecho Familiar</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".4s">
                    <img src="~/lyso/img/home-one/team/2.jpg" alt="Team">
                    <div class="team-inner">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>
                            <a asp-controller="Home" asp-action="AttorneyDetails">Attor. Juho Hudson</a>
                        </h3>
                        <span>Derecho Penal</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".5s">
                    <img src="~/lyso/img/home-one/team/3.jpg" alt="Team">
                    <div class="team-inner">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>
                            <a asp-controller="Home" asp-action="AttorneyDetails">Attor. Sarah Se</a>
                        </h3>
                        <span>Derecho Notarial</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".6s">
                    <img src="~/lyso/img/home-one/team/4.jpg" alt="Team">
                    <div class="team-inner">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>
                            <a asp-controller="Home" asp-action="AttorneyDetails">Attor. Aikin Ward</a>
                        </h3>
                        <span>Derecho empresarial</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".3s">
                    <img src="~/lyso/img/home-one/team/5.jpg" alt="Team">
                    <div class="team-inner">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>
                            <a asp-controller="Home" asp-action="AttorneyDetails">Attor. Mic John</a>
                        </h3>
                        <span>Derecho Familiar</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".4s">
                    <img src="~/lyso/img/home-one/team/6.jpg" alt="Team">
                    <div class="team-inner">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>
                            <a asp-controller="Home" asp-action="AttorneyDetails">Attor. Jac Micheal</a>
                        </h3>
                        <span>Derecho Penal</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".5s">
                    <img src="~/lyso/img/home-one/team/7.jpg" alt="Team">
                    <div class="team-inner">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>
                            <a asp-controller="Home" asp-action="AttorneyDetails">Attor. Tom Renson</a>
                        </h3>
                        <span>Notario</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".6s">
                    <img src="~/lyso/img/home-one/team/8.jpg" alt="Team">
                    <div class="team-inner">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>
                            <a asp-controller="Home" asp-action="AttorneyDetails">Attor. Tomy Shak</a>
                        </h3>
                        <span>Derecho Empresarial</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team -->
