@{
    ViewData["Title"] = "Home Page";
}

<!-- Home Slider -->
<div class="home-slider-area">
    <div class="home-slider owl-theme owl-carousel">
        <div class="slider-item slider-bg-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-5">
                                <div class="slider-text">
                                    <h1>Es nuestro orgullo luchar por su sueño</h1>
                                    <p>LUCHANDO POR SU SUEÑO</p>
                                    <a asp-action="Contact">
                                        CONSULTA GRATUITA
                                        <i class="icofont-arrow-right"></i>
                                    </a>
                                    <a asp-action="UsuarioAutenticado" asp-route-correo="@User.Identity.Name">
                                        Vista Abogado
                                        <i class="icofont-arrow-right"></i>
                                    </a>
                                    <a asp-action="UsuarioGestor" asp-route-correo="@User.Identity.Name">
                                        Vista Gestor
                                        <i class="icofont-arrow-right"></i>
                                    </a>
                                    <a asp-action="UsuarioCliente" asp-route-correo="@User.Identity.Name">
                                        Vista Cliente
                                        <i class="icofont-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="slider-shape">
                                    <img class="s-s-one" src="~/lyso/img/home-two/home-slider/2.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item slider-bg-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-5">
                                <div class="slider-text">
                                    <h1>El objetivo principal de nuestros abogados es desafiar sus privilegios</h1>
                                    <p>LUCHANDO POR SU SUEÑO</p>
                                    <a asp-action="Contact">
                                        CONSULTA GRATUITA
                                        <i class="icofont-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="slider-shape">
                                    <img class="s-s-two" src="~/lyso/img/home-two/home-slider/3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item slider-bg-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-5">
                                <div class="slider-text">
                                    <h1>Nuestro abogados siempre están preparados para luchar por usted</h1>
                                    <p>LUCHANDO POR SU SUEÑO</p>
                                    <a asp-action="Contact">
                                        CONSULTA GRATUITA
                                        <i class="icofont-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="slider-shape">
                                    <img class="s-s-three" src="~/lyso/img/home-two/home-slider/4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Home Slider -->
<!-- Slider Bottom -->
<div class="slider-bottom-area">
    <div class="container">
        <div class="row slider-bottom-wrap">
            <div class="col-sm-6 col-lg-4">
                <div class="banner-bottom">
                    <ul>
                        <li>
                            <i class="flaticon-leader"></i>
                        </li>
                        <li>
                            <span>100% Legal</span>
                            <p>Por el gobierno</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="banner-bottom">
                    <ul>
                        <li>
                            <i class="flaticon-auction"></i>
                        </li>
                        <li>
                            <span>Confianza</span>
                            <p>99% Casos Ganados</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6   col-lg-4">
                <div class="banner-bottom">
                    <ul>
                        <li>
                            <i class="flaticon-support"></i>
                        </li>
                        <li>
                            <span>Soporte</span>
                            <p>Tiempo completo</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider Bottom -->
<!-- Help -->
<div class="help-area help-area-three pb-70">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="~/lyso/img/home-one/5-Daniel.jpg" alt="Help">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <h2>Proporcionamos abogados profesionales para ayudarlo</h2>
                        <p>Estamos calificados para el éxito de nuestros clientes y como un bufete de abogados profesional. Por lo tanto, estos abogados profesionales todavía están aquí a su lado con amabilidad, integridad y lealtad para ayudarlo con los peores momentos de su vida.</p>
                        <div class="help-inner-left">
                            <ul>
                                <li>
                                    <i class="flaticon-checkmark"></i>
                                    Conozca el sitio Web
                                </li>
                                <li>
                                    <i class="flaticon-checkmark"></i>
                                    Elija servicios
                                </li>
                            </ul>
                        </div>
                        <div class="help-inner-right">
                            <ul>
                                <li>
                                    <i class="flaticon-checkmark"></i>
                                    Respuesta rápida
                                </li>
                                <li>
                                    <i class="flaticon-checkmark"></i>
                                    Desempeño
                                </li>
                            </ul>
                        </div>
                        <!--<div class="help-signature">
                            <img src="~/lyso/img/home-one/4.png" alt="Signature">
                        </div>
                        <a class="cmn-btn" href="practice.html">Learn More</a>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="help-shape">
            <img src="~/lyso/img/home-one/6.png" alt="Shape">
        </div>
    </div>
</div>
<!-- End Help -->
<!-- Practice -->
<section class="practice-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>¿CÓMO PODEMOS AYUDARTE?</span>
            <h2>Nuestras Áreas de Práctica Legal</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-law"></i>
                    </div>
                    <h3>Derecho Civil</h3>
                    <p>
                        Representamos a nuestros clientes en casos de disputas contractuales, daños y perjuicios, responsabilidad civil, y asuntos familiares. Nuestro objetivo es proteger sus derechos e intereses con un enfoque legal sólido y ético.
                    </p>
                    <a asp-controller="Home" asp-action="Civil">Lea Más</a>
                    <img class="practice-shape-one" src="~/lyso/img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="~/lyso/img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-family"></i>
                    </div>
                    <h3>Derecho Penal</h3>
                    <p>Defendemos a personas acusadas de delitos, brindando asesoría y representación en todas las etapas del proceso penal. Nos comprometemos a garantizar un juicio justo y a proteger sus derechos fundamentales.</p>
                    <a asp-controller="Home" asp-action="CaseStudyDetails">Lea Más</a>
                    <img class="practice-shape-one" src="~/lyso/img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="~/lyso/img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-inheritance"></i>
                    </div>
                    <h3>Derecho Laboral</h3>
                    <p>
                        Asesoramos tanto a empleadores como a empleados en conflictos laborales, despidos injustificados, reclamaciones salariales, y cumplimiento de normativas laborales. Buscamos soluciones eficientes y justas.
                    </p>
                    <a asp-controller="Home" asp-action="Laboral">Lea Más</a>
                    <img class="practice-shape-one" src="~/lyso/img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="~/lyso/img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-mortarboard"></i>
                    </div>
                    <h3>Derecho Corporativo</h3>
                    <p>
                        Brindamos asesoría legal integral a empresas en su constitución, contratos comerciales, fusiones, adquisiciones y cumplimiento normativo. Apoyamos el crecimiento empresarial con respaldo jurídico sólido.
                    </p>
                    <a asp-controller="Home" asp-action="Corporativo">Lea Más</a>
                    <img class="practice-shape-one" src="~/lyso/img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="~/lyso/img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-auction"></i>
                    </div>
                    <h3>Derecho Administrativo</h3>
                    <p>
                        Representamos a nuestros clientes frente a la administración pública en procedimientos, sanciones, licencias y recursos administrativos. Facilitamos el diálogo entre particulares y la autoridad.
                    </p>
                    <a asp-controller="Home" asp-action="Administrativo">Lea Más</a>
                    <img class="practice-shape-one" src="~/lyso/img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="~/lyso/img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-vulnerability"></i>
                    </div>
                    <h3>Derecho Notarial</h3>
                    <p>
                        Ofrecemos servicios notariales confiables en la elaboración y autenticación de escrituras, poderes, testamentos, compraventas y otros actos jurídicos. Garantizamos legalidad, seguridad jurídica y transparencia en cada trámite.
                    </p>
                    <a asp-controller="Home" asp-action="Notarial">Lea Más</a>
                    <img class="practice-shape-one" src="~/lyso/img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="~/lyso/img/home-one/8.png" alt="Shape">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Practice -->

<!-- Expertise MERAMENTE INFORMATIVO-->
<section class="expertise-area expertise-area-two">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-left">
                    <span>NUESTRA EXPERIENCIA</span>
                    <h2>Bufete de Abogados Dedicado a Nuestros Clientes</h2>
                </div>
                <div class="expertise-item">
                    <ul>
                        <li class="wow fadeInUp" data-wow-delay=".3s">
                            <div class="expertise-icon">
                                <i class="flaticon-experience"></i>
                                <img src="~/lyso/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Experiencia</h3>
                            <p>Lorem Ipsum – tas ir teksta salikums, kuru izmanto poligrāfijā un maketēšanas darbos. Lorem Ipsum ir kļuvis par vispārpieņemtu teksta aizvietotāju kopš 16.</p>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".4s">
                            <div class="expertise-icon">
                                <i class="flaticon-lawyer"></i>
                                <img src="~/lyso/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Abogado Experto</h3>
                            <p>Lorem Ipsum – tas ir teksta salikums, kuru izmanto poligrāfijā un maketēšanas darbos. Lorem Ipsum ir kļuvis par vispārpieņemtu teksta aizvietotāju kopš 16.</p>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".5s">
                            <div class="expertise-icon">
                                <i class="flaticon-balance"></i>
                                <img src="~/lyso/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Proceso legal</h3>
                            <p>Lorem Ipsum – tas ir teksta salikums, kuru izmanto poligrāfijā un maketēšanas darbos. Lorem Ipsum ir kļuvis par vispārpieņemtu teksta aizvietotāju kopš 16.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="expertise-image">
                    <img src="~/lyso/img/home-one/10-Daniel.png" alt="Expertise">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Expertise -->

<!-- portfolio -->
<!--
<section class="portfolio-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>PORTFOLIO</span>
            <h2>Check Out Our Popular Case Studies.</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="~/lyso/img/home-one/portfolio/1.jpg" alt="Portfolio">
                    <div class="portfolio-inner">
                        <span>Crime</span>
                        <h3>
                            <a href="case-study-details.html">Critical Murder Case</a>
                        </h3>
                        <p>15 Feb 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="~/lyso/img/home-one/portfolio/2.jpg" alt="Portfolio">
                    <div class="portfolio-inner">
                        <span>Rights</span>
                        <h3>
                            <a href="case-study-details.html">Children Rights</a>
                        </h3>
                        <p>16 Feb 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6   col-lg-4">
                <div class="portfolio-item">
                    <img src="~/lyso/img/home-one/portfolio/3.jpg" alt="Portfolio">
                    <div class="portfolio-inner">
                        <span>Finance</span>
                        <h3>
                            <a href="case-study-details.html">Money Loundering</a>
                        </h3>
                        <p>17 Feb 2024</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="cmn-btn" href="case-study.html">See More</a>
        </div>
    </div>
</section>
-->
<!-- End portfolio -->
<!-- Team -->
<section class="team-area">
    <br />
    <div class="container">
        <div class="section-title">
            <span>MIEMBRO DEL EQUIPO</span>
            <h2>Conozca a Nuestros Abogados Expertos</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="~/lyso/img/home-one/team/1.jpg" alt="Team">
                    <div class="team-inner">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>
                          
                            <a asp-controller="Home" asp-action="AttorneyDetails">Abogado1</a>
                        </h3>
                        <span>Derecho Familiar</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="~/lyso/img/home-one/team/2.jpg" alt="Team">
                    <div class="team-inner">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>
                            <a asp-controller="Home" asp-action="AttorneyDetails">Abogado2</a>
                        </h3>
                        <span>Derecho Penal</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="~/lyso/img/home-one/team/3.jpg" alt="Team">
                    <div class="team-inner">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>
                            <a asp-controller="Home" asp-action="AttorneyDetails">Abogado3</a>
                        </h3>
                        <span>Notario</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="~/lyso/img/home-one/team/4.jpg" alt="Team">
                    <div class="team-inner">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>
                            <a asp-controller="Home" asp-action="AttorneyDetails">Abogado4</a>
                        </h3>
                        <span>Derecho Empresarial</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team -->
<!-- Contact Form -->
<div class="contact-form pb-100">

    <!-- Counter -->
    <div class="counter-area counter-area-two">
        <div class="container">
            <div class="row counter-bg">
                <div class="col-6 col-sm-3 col-lg-3">
                    <div class="counter-item">
                        <i class="flaticon-judge"></i>
                        <div class="counter-inner">
                            <h3>
                                <span class="odometer" data-count="18">00</span>
                                <span class="target">+</span>
                            </h3>
                            <p>Abogados</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-lg-3">
                    <div class="counter-item">
                        <i class="flaticon-auction"></i>
                        <div class="counter-inner">
                            <h3>
                                <span class="odometer" data-count="99">00</span>
                                <span class="target">%</span>
                            </h3>
                            <p>Caso ganados</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-lg-3">
                    <div class="counter-item">
                        <i class="flaticon-medal"></i>
                        <div class="counter-inner">
                            <h3>
                                <span class="odometer" data-count="100">00</span>
                                <span class="target">%</span>
                            </h3>
                            <p>Vía legal</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-lg-3">
                    <div class="counter-item">
                        <i class="flaticon-team"></i>
                        <div class="counter-inner">
                            <h3>
                                <span class="odometer" data-count="10">00</span>
                                <span class="target">k</span>
                            </h3>
                            <p>Clientes Satisfechos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Counter -->

    <div class="container-fluid">
        <form id="contactForm" asp-action="EnviarSolicitudDeContacto">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="row contact-wrap">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" name="cedula" id="cedula" class="form-control" required data-error="Digite el dato" placeholder="Identificación">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control" required data-error="Digite el dato" placeholder="Nombre completo">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control" required data-error="Digite el dato" placeholder="Correo Electrónico">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" name="phone_number" id="phone_number" required data-error="Digite el dato" class="form-control" placeholder="Número telefónico">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-check agree-label">
                        <input name="gridCheck"
                               value="I agree to the terms and privacy policy."
                               class="form-check-input"
                               type="checkbox"
                               id="gridCheck"
                               required>
                        <label class="form-check-label" for="gridCheck">
                            Acepta <a href="terms-condition.html">Terminos y Condiciones</a> & <a href="privacy-policy.html"> Politica de privacidad.</a>
                        </label>
                        <div class="help-block with-errors gridCheck-error"></div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="text-center">
                        <button type="submit" class="contact-btn">Enviar</button>
                    </div>
                    <!--<div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>-->
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Contact Form -->
@if (TempData["MensajeEnviado"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: 'Correo enviado',
                text: '@TempData["MensajeEnviado"]',
                icon: 'success',
                confirmButtonText: 'Continuar',
                customClass: {
                    confirmButton: 'contact-btn--primario' // Clase CSS personalizada
                }
            });
        });
    </script>
}