<!-- Page Title -->
<head>
    <link href="~/lyso/css/daniel.css" rel="stylesheet" />
</head>
<div class="page-title-area page-title-area-two title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Su testimonio</h2>
                <h3 style="color:white">Agradecemos su visita. Sus comentarios son valiosos para nosotros.</h3>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Su testimonio</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<!-- End Page Title -->
<!-- Contact Form -->
<div class="contact-form contact-form-four pb-100">


    <div class="container-fluid">

        <form id="contactForm">
            <div class="row contact-wrap">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control" required data-error="Por favor ingrese el dato" placeholder="Nombre completo">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control" required data-error="Por favor ingrese el dato" placeholder="Correo Electrónico">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <textarea name="message" class="form-control" id="message" cols="30" rows="8" required data-error="Por favor ingrese el dato" placeholder="Su testimonio o comentario"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>



                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <p class="clasificacion">
                            <input class="InputCalficacion" id="radio1" type="radio" name="estrellas" value="5">
                            <!--
                            -->
                            <label class="LabelCalificacion" for="radio1">★</label>
                            <!--
                            -->
                            <input class="InputCalficacion" id="radio2" type="radio" name="estrellas" value="4">
                            <!--
                            -->
                            <label class="LabelCalificacion" for="radio2">★</label>
                            <!--
                            -->
                            <input class="InputCalficacion" id="radio3" type="radio" name="estrellas" value="3">
                            <!--
                            -->
                            <label class="LabelCalificacion" for="radio3">★</label>
                            <!--
                            -->
                            <input class="InputCalficacion" id="radio4" type="radio" name="estrellas" value="2">
                            <!--
                            -->
                            <label class="LabelCalificacion" for="radio4">★</label>
                            <!--
                            -->
                            <input class="InputCalficacion" id="radio5" type="radio" name="estrellas" value="1">
                            <!--
                            -->
                            <label class="LabelCalificacion" for="radio5">★</label>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check agree-label">
                        <input name="gridCheck"
                               value="I agree to the terms and privacy policy."
                               class="form-check-input"
                               type="checkbox"
                               id="gridCheck"
                               required>
                        <label class="form-check-label" for="gridCheck">
                            Acepta <a href="terms-condition.html">Terminos y Condiciones</a> & <a href="privacy-policy.html"> Politica de privacidad.</a>
                        </label>
                        <div class="help-block with-errors gridCheck-error"></div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="text-center">
                        <button type="submit" class="contact-btn">Enviar</button>
                    </div>
                    <!--<div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>-->
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Contact Form -->
