@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de olvido de contraseña";
    Layout = "_LayoutLysoIdentiy";
}

<div class="page-title-area page-title-area-three title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Modulo de autenticación</h2>
                <ul>
                    <li>
                        <a asp-action="Index">Home</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index">Autenticación</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/ForgotPassword">Restablecer contraseña</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>
                        Confirmación
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="LetraNegra contact-form contact-form-two contact-form-three" style="padding-left:20%; padding-right:20%">
    <div class="container">
        <div class="contact-wrap" style="text-align:center">

            <!--<h1>@ViewData["Title"]</h1>-->
            <h2>Restablecer contraseña</h2>
            <p>
                Por favor revise su correo electrónico para restablecer su contraseña.
            </p>
        </div>
    </div>
</div>