@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_LayoutLysoIdentiy";
}

<!-- Page Title -->
<div class="page-title-area page-title-area-three title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Modulo de autenticación</h2>
                <ul>
                    <li>
                        <a asp-action="Index">Home</a>
                    </li>                   
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index">Autenticación</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Olvido de contraseña</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<br />
<br />

    <div class="contact-form contact-form-two contact-form-three" style="padding-left:20%; padding-right:20%">
        <div class="container">
            <div class="contact-wrap">
               
                <h2>Ingrese su correo</h2>
                <hr />
                <form class="LetraNegra" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                        <div class="form-group">
                            <label asp-for="Input.Email" class="form-label">Correro Electrónico</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="ej: correo@ejemplo.com" />
                            
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                               
                            </div>
                    <button type="submit" class="w-100 btn-lg contact-btn">Restablecer contraseña</button>
                        </form>
                  
            </div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@if (TempData["Lockout"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: 'Sistema de autenticación',
                text: '@TempData["Lockout"]',
                icon: 'error',
                confirmButtonText: 'Continuar',
                customClass: {
                    confirmButton: 'contact-btn' // Clase CSS personalizada
                }
            });
        });
    </script>
}

@if (TempData["UsuarioNoEncontrado"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: 'Sistema de autenticación',
                text: '@TempData["UsuarioNoEncontrado"]',
                icon: 'error',
                confirmButtonText: 'Continuar',
                customClass: {
                    confirmButton: 'contact-btn' // Clase CSS personalizada
                }
            });
        });
    </script>
}