@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutLysoIdentiy";
}

<!-- Page Title -->
<div class="page-title-area page-title-area-three title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Modulo de autenticación</h2>
                <ul>
                    <li>
                        <a asp-action="Index">Página de inicio</a>

                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Autencación</li>
                </ul>           
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->
<br />
<br />
<!--<div class="MarcoIdentiy">-->
    <div class="contact-form contact-form-two contact-form-three" style="padding-left:20%; padding-right:20%">
        <div class="container">
            <div class="contact-wrap">
                <section>
                    <form class="LetraNegra" id="account" method="post">
                        <h2>Usar cuenta local para ingreso</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                        <div class="form-group">
                            <label asp-for="Input.Email" class="form-label">Correro Electrónico</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com"/>                            
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                        <div class="form-group">
                            <label asp-for="Input.Password" class="form-label">Contraseña</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="ej. 123Abc*" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div style="text-align: center;">
                            <button id="login-submit" type="submit" class="w-100 btn-lg contact-btn">Iniciar sesión</button>
                        </div>
                        <br />
                        <div>
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidó su contraseña?</a>
                            </p>
                            <!--<p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registre un nuevo usuario</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar correo de confirmación</a>
                            </p>-->
                        </div>
                    </form>
                </section>
            </div>
        </div>
    <!--</div>-->
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
