@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutLysoIdentiy";
}

<!-- Page Title -->
<div class="page-title-area page-title-area-three title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Registro Nuevo Usuario</h2>
                <ul>
                    <li>
                        <a asp-action="Index">Home</a>

                   
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Registro</i>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<div class="MarcoIdentiy">
    <div class="contact-form contact-form-two contact-form-three">
        <div class="container">
            <div class="contact-wrap">
                <form class="LetraNegra" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Formulario para crear nuevo usuario.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                        <label asp-for="Input.Email">Correro electrónico</label>
                        <!--<span asp-validation-for="Input.Email" class="text-danger"></span>-->
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password">Contraseña</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword">Confirmacion de contraseña</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg contact-btn">Registro</button>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
