@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}

<div class="page-title-area page-title-area-three title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Modulo de autenticación</h2>
                <ul>
                    <li>PreaceptaApp</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="LetraNegra contact-form contact-form-two contact-form-three" style="padding-left:20%; padding-right:20%">
    <div class="container">
        <div class="contact-wrap" style="text-align:center">
            <h2>@ViewData["Title"]</h2>
            <p>
                Su contraseña ha sido restablecida. Por favor hacer click para ingresar sus credenciales <a asp-page="./Login">Presione aquí</a>.
            </p>

        </div>
    </div>
</div>
