@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Restablecer contraseña";

}

<div class="page-title-area page-title-area-three title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Modulo de autenticación</h2>
                <ul>                    
                    <li>PreaceptaApp</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="contact-form contact-form-two contact-form-three" style="padding-left:20%; padding-right:20%">
    <div class="container">
        <div class="contact-wrap">
            <!--<h1>@ViewData["Title"]</h1>-->
            <h2>Restablecer contraseña</h2>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-floating mb-3">
                    <div class="form-group">
                        <label asp-for="Input.Email" class="form-label"></label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    
                </div>
                <div class="form-floating mb-3">
                    <div class="form-group">
                        <label asp-for="Input.Password" class="form-label"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Por favor, introduzca su contraseña." />
                        
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>                   
                </div>
                <div class="form-floating mb-3">
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Por favor, confirme su contraseña." />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    
                </div>
                <button type="submit" class="w-100 btn-lg contact-btn--primario">Restablecer</button>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
