@model Preacepta.Modelos.AbstraccionesFrond.DocsPagareDTO


<head>
    <link href="~/lyso/css/Daniel.css" rel="stylesheet" />
</head>
<body>
    <!-- Page Title -->
    <div class="page-title-area page-title-area-two title-img-one">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="page-title-text">
                    <h2>Generador de Documentos Legales</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li>
                            <i class="icofont-simple-right"></i>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="UsuarioAutenticado" asp-route-correo=@User.Identity.Name>PreaceptaApp</a>
                        </li>
                        <li>
                            <i class="icofont-simple-right"></i>
                        </li>
                        <li>Generador de Pagares</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->

    <br />
    <br />
    <br />

    <div class="contact-form contact-form-two">
        <div class="container">
            <div class="contact-wrap">
                <form asp-action="CreateDocsPagares" id="CreateDocsPagares">
                    @if (ViewBag.DocumentoAnteriorId != null)
                    {
                        <input type="hidden" name="DocumentoAnteriorId" value="@ViewBag.DocumentoAnteriorId" />
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="MontoNumerico" class="control-label"></label>
                                <input asp-for="MontoNumerico" class="form-control" id="idMontoNumerico" style="color: black;" />
                                <span asp-validation-for="MontoNumerico" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="CedulaDeudor" class="control-label"></label>
                                <select asp-for="CedulaDeudor" class="form-control" asp-items="ViewBag.CedulaDeudor" id="idCedulaDeudor" style="color: black;"></select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="SociedadDeudor" class="control-label"></label>
                                <input asp-for="SociedadDeudor" class="form-control" id="idSociedadDeudor" style="color: black;" />
                                <span asp-validation-for="SociedadDeudor" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="CedulaJuridicaSociedad" class="control-label"></label>
                                <input asp-for="CedulaJuridicaSociedad" class="form-control" id="idCedulaJuridicaSociedad" style="color: black;" />
                                <span asp-validation-for="CedulaJuridicaSociedad" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="AcreedorNombre" class="control-label"></label>
                                <input asp-for="AcreedorNombre" class="form-control" id="idAcreedorNombre" style="color: black;" />
                                <span asp-validation-for="AcreedorNombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="CedulaJuridicaAcreedor" class="control-label"></label>
                                <input asp-for="CedulaJuridicaAcreedor" class="form-control" id="idCedulaJuridicaAcreedor" style="color: black;" />
                                <span asp-validation-for="CedulaJuridicaAcreedor" class="text-danger"></span> <!-- ← importante -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="AcreedorDomicilio" class="control-label"></label>
                                <input asp-for="AcreedorDomicilio" class="form-control" id="idAcreedorDomicilio" style="color: black;" />
                                <span asp-validation-for="AcreedorDomicilio" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="FechaVencimiento" class="control-label"></label>
                                <input asp-for="FechaVencimiento" class="form-control" id="idFechaVencimiento" type="date" style="color: black;" />
                                <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="InteresFormula" class="control-label"></label>
                                <input asp-for="InteresFormula" class="form-control" id="idInteresFormula" style="color: black;" />
                                <span asp-validation-for="InteresFormula" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="InteresTasaActual" class="control-label"></label>
                                <input asp-for="InteresTasaActual" class="form-control" id="idInteresTasaActual" style="color: black;" />
                                <span asp-validation-for="InteresTasaActual" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="InteresBase" class="control-label"></label>
                                <input asp-for="InteresBase" class="form-control" id="idInteresBase" style="color: black;" />
                                <span asp-validation-for="InteresBase" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="LugarPago" class="control-label"></label>
                                <select asp-for="LugarPago" class="form-control" asp-items="ViewBag.LugarPago" id="idLugarPago" style="color: black;"></select>
                                <span asp-validation-for="LugarPago" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="CedulaFiador" class="control-label"></label>
                                <select asp-for="CedulaFiador" class="form-control" asp-items="ViewBag.CedulaFiador" id="idCedulaFiador" style="color: black;"></select>
                                <span asp-validation-for="CedulaFiador" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="UbicacionFirma" class="control-label"></label>
                                <select asp-for="UbicacionFirma" class="form-control" asp-items="ViewBag.UbicacionFirma" id="idUbicacionFirma" style="color: black;"></select>
                                <span asp-validation-for="UbicacionFirma" class="text-danger"></span>
                            </div>
                        </div>


                        <br />
                        <br />
                        <br />


                        <div class="col-md-12 col-lg-12">
                            <div class="text-center d-flex justify-content-center gap-3">
                                <div class="form-group" id="btnCrearCaso">
                                    <input type="submit" value="Crear Documento" class="contact-btn" />
                                </div>
                                <div class="form-group">
                                    <button type="button" id="btnPrevisualizar" class="contact-btn">
                                        Previsualizar PDF
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>




<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="PrevioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Revisión de datos ingresados</h5>
                <button id="Retroceso2" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="color: black"><strong>Monto Numérico:</strong> <span id="previoMontoNumerico"></span></p>
                <p style="color: black"><strong>Cédula Deudor:</strong> <span id="previoCedulaDeudor"></span></p>
                <p style="color: black"><strong>Sociedad Deudor:</strong> <span id="previoSociedadDeudor"></span></p>
                <p style="color: black"><strong>Cédula Jurídica Sociedad:</strong> <span id="previoCedulaJuridicaSociedad"></span></p>
                <p style="color: black"><strong>Acreedor Nombre:</strong> <span id="previoAcreedorNombre"></span></p>
                <p style="color: black"><strong>Cédula Jurídica Acreedor:</strong> <span id="previoCedulaJuridicaAcreedor"></span></p>
                <p style="color: black"><strong>Acreedor Domicilio:</strong> <span id="previoAcreedorDomicilio"></span></p>
                <p style="color: black"><strong>Fecha Vencimiento:</strong> <span id="previoFechaVencimiento"></span></p>
                <p style="color: black"><strong>Interés Fórmula:</strong> <span id="previoInteresFormula"></span></p>
                <p style="color: black"><strong>Interés Tasa Actual:</strong> <span id="previoInteresTasaActual"></span></p>
                <p style="color: black"><strong>Interés Base:</strong> <span id="previoInteresBase"></span></p>
                <p style="color: black"><strong>Lugar de Pago:</strong> <span id="previoLugarPago"></span></p>
                <p style="color: black"><strong>Cédula Fiador:</strong> <span id="previoCedulaFiador"></span></p>
                <p style="color: black"><strong>Ubicación Firma:</strong> <span id="previoUbicacionFirma"></span></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="contact-btn" data-bs-dismiss="modal" id="Retroceso">Hacer Cambios</button>
                <button type="button" id="BtnConfirmar" class="contact-btn">Confirmar datos</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="~/lyso/js/DocsPagares.js"></script>