@model Preacepta.Modelos.AbstraccionesFrond.DocsPagareDTO

@using System.Globalization
@{
    CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("en-US");
    CultureInfo.DefaultThreadCurrentUICulture = new CultureInfo("en-US");
}



<head>
    <!--<link href="~/lyso/css/Andy.css" rel="stylesheet" />-->
    <link href="~/lyso/css/Daniel.css" rel="stylesheet" />
</head>
<body>
<!-- Page Title -->
<div class="page-title-area page-title-area-two title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Generador de Documentos Legales</h2>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Generador de Pagares</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<br />
<br />
<br />

    <div class="contact-form contact-form-two">
        <div class="container">
            <div class="col-md-12 col-lg-12 encabezadoForm">
                <img src="~/lyso/img/docs3.png" width=200px"  />
            </div>
            <div class="contact-wrap">
                <form asp-action="CreateDocsPagares" id="CreateDocsPagares">
                    @if (ViewBag.DocumentoAnteriorId != null)
                    {
                        <input type="hidden" name="DocumentoAnteriorId" value="@ViewBag.DocumentoAnteriorId" />
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <h2>Formulario para generar pagaré</h2>

                    <div class="row justify-content-center">
                        <div class="seccion-titulo">Datos del documento</div>

                        <!-- Monto Numérico -->
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                <label asp-for="MontoNumerico" class="control-label centro"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input asp-for="MontoNumerico" class="form-control LetraNegra" id="idMontoNumerico" step="0.01" inputmode="decimal" />
                                <span asp-validation-for="MontoNumerico" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Cédula Deudor -->
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                <label asp-for="CedulaDeudor" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <select asp-for="CedulaDeudor" class="form-control LetraNegra" asp-items="ViewBag.CedulaDeudor" id="idCedulaDeudor"></select>
                                <span asp-validation-for="CedulaDeudor" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="seccion-titulo">Información del Acreedor y Sociedad</div>

                        <!-- Sociedad Deudor -->
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                <label asp-for="SociedadDeudor" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input asp-for="SociedadDeudor" class="form-control LetraNegra" id="idSociedadDeudor" />
                                <span asp-validation-for="SociedadDeudor" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Cédula Jurídica Sociedad -->
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                <label asp-for="CedulaJuridicaSociedad" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input asp-for="CedulaJuridicaSociedad" class="form-control LetraNegra" id="idCedulaJuridicaSociedad" />
                                <span asp-validation-for="CedulaJuridicaSociedad" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Acreedor Nombre -->
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                <label asp-for="AcreedorNombre" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input asp-for="AcreedorNombre" class="form-control LetraNegra" id="idAcreedorNombre" />
                                <span asp-validation-for="AcreedorNombre" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Cédula Jurídica Acreedor -->
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                <label asp-for="CedulaJuridicaAcreedor" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input asp-for="CedulaJuridicaAcreedor" class="form-control LetraNegra" id="idCedulaJuridicaAcreedor" />
                                <span asp-validation-for="CedulaJuridicaAcreedor" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Acreedor Domicilio -->
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                <label asp-for="AcreedorDomicilio" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input asp-for="AcreedorDomicilio" class="form-control LetraNegra" id="idAcreedorDomicilio" />
                                <span asp-validation-for="AcreedorDomicilio" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="seccion-titulo">Condiciones del documento</div>

                        <!-- Fecha Vencimiento -->
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                <label asp-for="FechaVencimiento" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 LetraNegra">
                            <div class="form-group">
                                <input asp-for="FechaVencimiento" type="date" class="form-control LetraNegra" id="idFechaVencimiento" />
                                <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Interés Fórmula -->
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                <label asp-for="InteresFormula" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input asp-for="InteresFormula" class="form-control LetraNegra" id="idInteresFormula" />
                                <span asp-validation-for="InteresFormula" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Interés Tasa Actual -->
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                <label asp-for="InteresTasaActual" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input asp-for="InteresTasaActual" class="form-control LetraNegra" id="idInteresTasaActual" step="0.01" inputmode="decimal" />
                                <span asp-validation-for="InteresTasaActual" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Interés Base -->
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                <label asp-for="InteresBase" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input asp-for="InteresBase" class="form-control LetraNegra" id="idInteresBase" />
                                <span asp-validation-for="InteresBase" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="seccion-titulo">Firma y lugar</div>

                        <!-- Lugar de Pago -->
                            <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                    <label asp-for="LugarPago" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <select asp-for="LugarPago" class="form-control LetraNegra" asp-items="ViewBag.LugarPago" id="idLugarPago"></select>
                                    <span asp-validation-for="LugarPago" class="text-danger"></span>
                                </div>
                            </div>

                        <br />
                        <br />
                        <br />
                        <br />

                        <!-- Cédula Fiador -->
                            <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                    <label asp-for="CedulaFiador" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                    <select asp-for="CedulaFiador" class="form-control LetraNegra" asp-items="ViewBag.CedulaFiador" id="idCedulaFiador"></select>
                                    <span asp-validation-for="CedulaFiador" class="text-danger"></span>
                                </div>
                            </div>

                        <br />
                        <br />
                        <br />
                        <br />

                        <!-- Ubicación Firma -->
                            <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                    <label asp-for="UbicacionFirma" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                    <select asp-for="UbicacionFirma" class="form-control LetraNegra" asp-items="ViewBag.UbicacionFirma" id="idUbicacionFirma"></select>
                                    <span asp-validation-for="UbicacionFirma" class="text-danger"></span>
                                </div>
                            </div>

                        <br />
                        <br />
                        <br />
                        <br />

                        <!-- Fecha Firma -->
                        <!--
                            <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group LetraNegra">
                                    <label asp-for="FechaFirma" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input asp-for="FechaFirma" type="date" class="form-control LetraNegra" id="idFechaFirma" />
                                    <span asp-validation-for="FechaFirma" class="text-danger"></span>
                                </div>
                            </div>-->
                        


                        <!-- Hora Firma -->
                        <!--
                            <div class="col-sm-6 col-lg-6  d-flex align-items-center centro">
                                <div class="form-group LetraNegra">
                                    <label asp-for="HoraFirma" class="control-label mb-0"></label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6 LetraNegra">
                                <div class="form-group mb-0">
                                    <input asp-for="HoraFirma" type="time" class="form-control LetraNegra" id="idHoraFirma" />
                                    <small id="horaAmPm" class="ms-2 fw-bold"></small>
                                    <span asp-validation-for="HoraFirma" class="text-danger"></span>
                                </div>
                            </div>-->

                        <input type="hidden" id="idFechaFirma" name="FechaFirma" />
                        <input type="hidden" id="idHoraFirma" name="HoraFirma" />

                        



                        <!-- Botones -->
                        <div class="col-md-12 col-lg-12">
                            <div class="text-center d-flex justify-content-center gap-3">
                                <div class="form-group" id="btnCrearCaso">
                                    <input type="submit" value="Crear Documento" class="contact-btn" />
                                </div>
                                <div class="form-group">
                                    <button type="button" id="btnPrevisualizar" class="contact-btn">
                                        Previsualizar PDF
                                    </button>
                                </div>
                            </div>
                        </div>

                </form>
            </div>
        </div>
    </div>

</body>




<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="PrevioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Revisión de datos ingresados</h5>
                <button id="Retroceso2" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="color: black"><strong>Monto Numérico:</strong> <span id="previoMontoNumerico"></span></p>
                <p style="color: black"><strong>Cédula Deudor:</strong> <span id="previoCedulaDeudor"></span></p>
                <p style="color: black"><strong>Sociedad Deudor:</strong> <span id="previoSociedadDeudor"></span></p>
                <p style="color: black"><strong>Cédula Jurídica Sociedad:</strong> <span id="previoCedulaJuridicaSociedad"></span></p>
                <p style="color: black"><strong>Acreedor Nombre:</strong> <span id="previoAcreedorNombre"></span></p>
                <p style="color: black"><strong>Cédula Jurídica Acreedor:</strong> <span id="previoCedulaJuridicaAcreedor"></span></p>
                <p style="color: black"><strong>Acreedor Domicilio:</strong> <span id="previoAcreedorDomicilio"></span></p>
                <p style="color: black"><strong>Fecha Vencimiento:</strong> <span id="previoFechaVencimiento"></span></p>
                <p style="color: black"><strong>Interés Fórmula:</strong> <span id="previoInteresFormula"></span></p>
                <p style="color: black"><strong>Interés Tasa Actual:</strong> <span id="previoInteresTasaActual"></span></p>
                <p style="color: black"><strong>Interés Base:</strong> <span id="previoInteresBase"></span></p>
                <p style="color: black"><strong>Lugar de Pago:</strong> <span id="previoLugarPago"></span></p>
                <p style="color: black"><strong>Cédula Fiador:</strong> <span id="previoCedulaFiador"></span></p>
                <p style="color: black"><strong>Ubicación Firma:</strong> <span id="previoUbicacionFirma"></span></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="contact-btn" data-bs-dismiss="modal" id="Retroceso">Hacer Cambios</button>
                <button type="button" id="BtnConfirmar" class="contact-btn">Confirmar datos</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="~/lyso/js/DocsPagares.js"></script>