@model Preacepta.Modelos.AbstraccionesFrond.CasoDTO

<head>
    <link href="~/lyso/css/Daniel.css" rel="stylesheet" />
    <link href="~/lyso/css/daniel.css" rel="stylesheet" />
</head>
<!-- Page Title -->
<body>
    <div class="page-title-area page-title-area-two title-img-one">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="page-title-text">
                    <h2>Aperturar caso</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Página principal</a>
                        </li>
                        <li>
                            <i class="icofont-simple-right"></i>
                        </li>
                        <li>Crear Caso</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->

    <br />
    <br />
    <br />


    <div class="contact-form contact-form-two contact-form-three">
        <div class="container">
            <div class="col-md-12 col-lg-12 encabezadoForm">
                <img src="~/lyso/img/FormCasoNuevo.png" width="200px" />
            </div>
            <div class="contact-wrap">
                <form asp-action="FormularioCaso" id="FormularioCaso">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h2>Formulario para caso nuevo</h2>
                    <div class="row justify-content-center">
                        <div class="seccion-titulo">Información del cliente</div>
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group">
                                <label asp-for="IdClienteNavigation.Cedula" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <!--<label asp-for="Nombre" class="control-label"></label>-->
                                <input name="IdClienteNavigation.Cedula" id="IdClienteNavigation.Cedula" asp-for="IdClienteNavigation.Cedula" class="form-control"/>
                                <span asp-validation-for="IdClienteNavigation.Cedula" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group">
                                <label class="control-label">Cliente</label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                       
                                        <input name="IdClienteNavigation.Nombre" id="IdClienteNavigation.Nombre" asp-for="IdClienteNavigation.Nombre" class="form-control" readonly />
                                        <span asp-validation-for="IdClienteNavigation.Nombre" class="text-danger"></span>
                                        <div style="text-align:center; font-size:15px">
                                            <label asp-for="IdClienteNavigation.Nombre" class="control-label"></label>
                                        </div>
                                       
                                    </div>
                                    <div class="col">
                                       
                                        <input name="IdClienteNavigation.Apellido1" id="IdClienteNavigation.Apellido1" asp-for="IdClienteNavigation.Apellido1" class="form-control" readonly />
                                        <span asp-validation-for="IdClienteNavigation.Apellido1" class="text-danger"></span>
                                        <div style="text-align:center; font-size:15px">
                                            <label asp-for="IdClienteNavigation.Apellido1" class="control-label"></label>
                                        </div>                                        
                                    </div>
                                    <div class="col">

                                        <input name="IdClienteNavigation.Apellido2" id="IdClienteNavigation.Apellido2" asp-for="IdClienteNavigation.Apellido2" class="form-control" readonly />
                                        <span asp-validation-for="IdClienteNavigation.Apellido2" class="text-danger"></span>
                                        <div style="text-align:center; font-size:15px">
                                            <label asp-for="IdClienteNavigation.Apellido2" class="control-label"></label>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="seccion-titulo">Ingrese los datos del caso</div>
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group">
                                <label asp-for="Nombre" class="control-label"></label>                                
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <!--<label asp-for="Nombre" class="control-label"></label>-->
                                <input name="Nombre" id="Nombre" asp-for="Nombre" class="form-control" placeholder="Título del caso" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group">
                                <label asp-for="IdAbogado" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <!--<label asp-for="IdAbogado" class="control-label"></label>-->
                                <select name="IdAbogado" id="IdAbogado" asp-for="IdAbogado" class="form-control" asp-items="ViewBag.IdAbogado">
                                    <option value="" disabled selected> Seleccione un abogado</option>
                                </select>
                                <span asp-validation-for="IdAbogado" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group">
                                <label asp-for="IdTipoCaso" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <!--<label asp-for="IdTipoCaso" class="control-label"></label>-->
                                <select name="IdTipoCaso" id="IdTipoCaso" asp-for="IdTipoCaso" class="form-control" asp-items="ViewBag.IdTipoCaso">
                                    <option value="" disabled selected> Seleccione un tipo de caso</option>
                                </select>
                            </div>
                        </div>                        
                        <!--<div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input type="text" name="Pruebas" id="Pruebas" required data-error="Favor ingrese el dato" class="form-control" placeholder="Pruebas Iniciales">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>-->
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="col-sm-6 col-lg-6 centro">
                            <div class="form-group">
                                <label asp-for="IdCliente" class="control-label"></label>
                            </div>
                        </div>                      
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <!--<label asp-for="IdCliente" class="control-label"></label>-->
                                <select asp-for="IdCliente" name="IdCliente" id="IdCliente" class="form-control" asp-items="ViewBag.IdCliente">
                                    <option value="" disabled selected> Seleccione un cliente</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="col-md-12 col-lg-12 centro">
                            <div class="form-group">
                                <label asp-for="Descripcion" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <textarea name="Descripcion" id="Descripcion" cols="30" rows="8" asp-for="Descripcion" placeholder="Descripción" class="form-control"></textarea>
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12">

                            <div class="text-center">
                                <!-- Button trigger modal -->
                                <div id="btnRevisar">
                                    <button type="button" id="PrevioBtn" class="contact-btn" data-bs-toggle="modal" data-bs-target="#PrevioModal">
                                        Revisar
                                    </button>
                                </div>
                               
                                <div class="form-group" id="btnCrearCaso">
                                    <input type="submit" value="Crear Caso" class="contact-btn" />
                                </div>
                                <!--<button type="submit" class="contact-btn">Submit Case</button>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


<!-- Modal
<div class="modal fade" id="PrevioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="formulario contact-form contact-form-two">
                <div class="container">
                    <div class="contact-wrap">
                        <h2>Revisión de datos ingresados</h2>
                        <p style="color: black"><strong>Tipo Caso:</strong> <span id="previoTipoCaso"></span></p>
                        <p style="color: black"><strong>Nombre del caso:</strong> <span id="previotitulo"></span></p>
                        <p style="color: black"><strong>Pruebas Iniciales:</strong> <span id="previoPruebas"></span></p>
                        <p style="color: black"><strong>Cliente:</strong> <span id="previoCliente"></span></p>
                        <p style="color: black"><strong>Detalles del Caso:</strong> <span id="previoDescripcion"></span></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="Retroceso">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="PrevioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Revisión de datos ingresados</h5>
                <button id="Retroceso2" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="color: black"><strong>Tipo Caso:</strong> <span id="previoTipoCaso"></span></p>
                <p style="color: black"><strong>Nombre del caso:</strong> <span id="previotitulo"></span></p>
                <p style="color: black"><strong>Pruebas Iniciales:</strong> <span id="previoPruebas"></span></p>
                <p style="color: black"><strong>Cliente:</strong> <span id="previoCliente"></span></p>
                <p style="color: black"><strong>Detalles del Caso:</strong> <span id="previoDescripcion"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="contact-btn" data-bs-dismiss="modal" id="Retroceso">Hacer Cambios</button>
                <button type="button" id="BtnConfirmar" class="contact-btn">Confirmar datos</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/lyso/js/Daniel.js"></script>








