@model Preacepta.Modelos.AbstraccionesFrond.GeAbogadoDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Editar</h1>

<h4>Modulo de Abogados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Carnet" class="control-label"></label>
                <input asp-for="Carnet" class="form-control" />
                <span asp-validation-for="Carnet" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Cedula" />
            <div class="form-group">
                <label asp-for="IdTipoAbogado" class="control-label"></label>
                <select asp-for="IdTipoAbogado" class="form-control" asp-items="ViewBag.IdTipoAbogado"></select>
                <span asp-validation-for="IdTipoAbogado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CJuridica" class="control-label"></label>
                <select asp-for="CJuridica" class="form-control" asp-items="ViewBag.CJuridica"></select>
                <span asp-validation-for="CJuridica" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-warning" style=" width: 115px; height: 40px;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info" style="width: 115px; height: 40px; text-align: center; line-height: 26px;">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
